@using _MPPL_WEB_START.Areas.ONEPROD.OEE.ViewModels;
@model List<DashBoardViewModel>

@{
    Layout = null;
    int maxMachines = 6; //Model.Max(x => x.MachineList.Count);
}


@foreach (DashBoardViewModel vm in Model)
{
    if (vm.Area.Id != 4)
    {
        <div class="row">
            <div class="col-12">

                <div id="@vm.Area.Id"></div>
            </div>
        </div>
        <div class="row dashboardAreaBox" data-areaId="@vm.Area.Id" style="margin:0 !important; margin-top:15px;">
            @for (int i = -1; i < maxMachines - 1; i++)
            {
                <div class="col-2" style="padding:5px !important;">
                    @if (i >= 0)
                    {
                        var machine = (i < vm.MachineList.Count) ? vm.MachineList[i] : null;
                        if (machine != null && machine.Id != 13 && machine.Id != 15)
                        {
                            <div class="dashboardMachineBox activeMachine" id="machineId_@machine.Id" data-machineId="@machine.Id" data-startDay="@machine.ResourceGroup.ProdStartDay">
                                <div style="color: @(vm.MachineList[i].TargetOee > vm.MachineList[i].OeeResult ? vm.MachineList[i].OeeResult ==0 ? "grey":"red": "green")">
                                    <span style="width:300px;">
                                        <a href="@(_MPPL_WEB_START.Properties.Settings.Default.AppAdress)/ONEPROD/OEE#machinedetails#form-MachineId=@machine.Id&modeSwitcher=1&SelectedDateFrom=@vm.DateFrom.ToString("yyyy-MM-dd HH:mm")&SelectedDateTo=@vm.DateTo.ToString("yyyy-MM-dd HH:mm")&intervalInHours=24">
                                            @vm.MachineList[i].Name
                                        </a>
                                    </span>
                                    <span>      </span>
                                    <span>@vm.MachineList[i].OeeResult.ToString("P2")</span>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="dashboardMachineBox disabled" id="0" data-machineId="0"></div>
                        }
                    }
                    else
                    {
                        <div class="dashboardMachineBox summaryMachine as" id="areaSummary_@vm.Area.Id" data-machineId="0">
                            <div class="areaSummaryTitle text-truncate">@vm.Area.Name. Średni Wynik OEE: @vm.MachineList.Where(x => x.OeeResult > 0).Average(x => x.OeeResult).ToString("P2")</div>
                        </div>
                    }
                </div>
            }
        </div>
    }
}
