@model MDL_PFEP.ViewModel.PackingInstructionViewModel
@using MDL_PFEP.Model.ELDISY_PFEP;

@{
    if (ViewBag.Layout == "Brak")
    {
        Layout = null;
    }
}


<script type="text/javascript">
    window.onload = function setRelativeHeight() {
        var h = document.getElementById('listDiv').offsetHeight;
        var rotCon = document.getElementById('rotDiv');
        rotCon.style.height = h + "px";
        rotCon.style.lineHeight = h + "px";
    }
</script>

<div class="container" id="pckgInstrContainer">
    <div class="row">
        <div class="col-2" id="logoDiv">
            <img src='@Url.Content("~/Content/Images/logoEldisy.png")' />
        </div>
        <div class="col-10">
            <div class="row ">
                <div class="col-offset-1 col-11 bigText">
                    <b>INSTRUKCJA PAKOWANIA</b> / Verpackungsvorschrift
                </div>
            </div>
            <div class="row">
                <div class="col-1 textRight">
                    nr
                </div>
                <div class="col-11">
                    @Model.PackinInstructionObject.InstructionNumber
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-4 centerDiv">
                    <b>KLIENT</b> / Kunde:
                </div>
                <div class="col-8 centerDiv highlighted">
                    <span>
                        <b>@Model.PackinInstructionObject.ClientName</b>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-5 centerHighDiv">
                    <span><b>Numer wyrobu klienta</b><br />Kundenartikelnr</span>
                </div>
                <div class="col-7 centerHighDiv highlighted">
                    <span class="heightSpan"><b>@Model.PackinInstructionObject.ClientProfileCode</b></span>
                </div>
            </div>
            <div class="row">
                <div class="col-5 centerLowDiv">
                    <b>OBSZAR</b> / Linie:
                </div>
                <div class="col-7 centerLowDiv specialHighlighted">
                    @Model.PackinInstructionObject.Area.Name
                </div>
            </div>
            <div class="row">
                <div class="col-5 centerLowDiv">
                    Charakterystyka specjalna:
                </div>
                <div class="col-1 centerLowDiv">
                    <b>0</b>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-5 centerDiv">
                    <b>PROFIL:</b>
                </div>
                <div class="col-7 centerDiv highlighted">
                    <span><b>@Model.PackinInstructionObject.ProfileName</b></span>
                </div>
            </div>
            <div class="row">
                <div class="col-5 centerHighDiv">
                    <span><b>SAP NR:</b></span>
                </div>
                <div class="col-7 centerHighDiv highlighted">
                    <span class="heightSpan"><b>@Model.PackinInstructionObject.ProfileCode</b></span>
                </div>
            </div>
            <div class="row">
                <div class="col-5 centerLowDiv">
                    <b>WERSJA</b>* / Index:
                </div>
                <div class="col-7 centerLowDiv highlighted">
                    @Model.PackinInstructionObject.InstructionVersion.ToString()
                </div>
            </div>
            <div class="row" style="height:30px;">
               
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-7">
            <div class="row">
                <div class="col-3 centerDiv ">
                    <span><b>IL. NA WARSTWIE</b><br />Menge pro Lage:</span>
                </div>
                <div class="col-3 centerDiv highlighted">
                    <b>@Model.PackinInstructionObject.AmountOnLayer @Model.PackinInstructionObject.UnitOfMeasure</b>
                </div>
                <div class="col-3 centerDiv ">
                    <span><b>IL. W POJEMNIKU</b><br />Menge pro Behaelter:</span>
                </div>
                <div class="col-3 centerDiv highlighted">
                    <b>@Model.PackinInstructionObject.AmountOnBox @Model.PackinInstructionObject.UnitOfMeasure</b>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="row">
                <div class="col-4 centerDiv ">
                    <span><b>ILOŚĆ NA PALECIE</b><br />Menge pro Palette:</span>
                </div>
                <div class="col-6 centerDiv highlighted">
                    <b>@Model.PackinInstructionObject.AmountOnPallet @Model.PackinInstructionObject.UnitOfMeasure</b>
                </div>
                <div class="col-2 centerDiv">
                    <b>/</b>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 verticalHeading">
            <b>OPAKOWANIA</b> / Verpackungen:
        </div>
    </div>

    @*TABLE HEADER*@
    <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="col-2 itemDiv text-center">
                    <i><b>SAP-NR</b></i>
                </div>
                <div class="col-10 itemDiv text-center">
                    <i><b>OPAKOWANIE</b> / Verpackung</i>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col-12 itemDiv text-center">
                    <i><b>ILOŚĆ</b> / Menge</i>
                </div>
            </div>
        </div>
    </div>
    @*TABLE ROWS*@
    <div class="row">
        @foreach (PackingInstructionPackage item in Model.PackingInstructionPackageList)
        {
            <div class="col-9">
                <div class="row itemHiglighted">
                    <div class="col-2 itemDiv text-center">
                        @item.Package.Code
                    </div>
                    <div class="col-10 itemDiv">
                        @item.Package.Name
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row itemHiglighted">
                    <div class="col-9 itemDiv text-center">
                        @item.Amount
                    </div>
                    <div class="col-3 itemDiv text-center">
                        @item.UnitOfMeasure.ToString()
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-12 verticalHeading">
            <b> OPIS</b> / Verpackungsbeschreibung:
        </div>
    </div>
    <div class="row">
        <div class="col-11 highlighted itemDiv" id="listDiv">
            @if (@Model.PackinInstructionObject.Description != null)
            {
                string[] lines = Model.PackinInstructionObject.Description.Split(new[] { "\r\n", "\r", "\n" }, StringSplitOptions.None);
                <ul>
                    @foreach (string line in lines)
                    {
                        <li>@line</li>
                    }
                </ul>
            }
        </div>
        <div class="col-1 itemDiv" id="rotDiv">
            <div id="rotate"><b>PRODUKCJA</b></div>
        </div>
    </div>
    <div class="row verticalHeading">
        <b>ZDJĘCIA</b> / Bilder:
        <div style="row">
            @for (int i = 0; i < Model.PackingInstructionPhotos.Count; i++)
    {
        <div class="col-6" style="height: 250px; border: 1px solid gray;">
            @*<img class="instPhoto" src="~/Uploads/zz_photos/@(Model.PackinInstructionObject.TempPhoto1)" />*@
            @if (Model.PackingInstructionPhotos[i] != null)
    {
        <img class="instPhoto" src="~/Uploads/@Model.PackingInstructionPhotos[i].Id-@(Model.PackingInstructionPhotos[i].ParentObjectId)D.@(Model.PackingInstructionPhotos[i].Extension)" />
}
        </div>
}
        </div>
        <!--uzupelnic zdjęcia-->
    </div>
    <div class="row" style="overflow: hidden;">
        <div class="col-6">
            <div class="row">
                <div class="col-5 itemDiv onelineheight">

                </div>
                <div class="col-7 itemDiv text-center">
                    <b>Opracował</b> / erstellt von
                </div>
            </div>
            <div class="row">
                <div class="col-5 itemDiv">
                    <b>Nazwisko</b> / Name
                </div>
                <div class="col-7 itemDiv highlighted onelineheight">
                    @Model.PackinInstructionObject.Creator.FullName
                </div>
            </div>
            <div class="row">
                <div class="col-5 itemDiv">
                    <b>Data</b> / Datum
                </div>
                <div class="col-7 itemDiv highlighted onelineheight">
                    @Model.PackinInstructionObject.CreatedDate.ToString("yyyy-MM-dd")
                </div>
            </div>
        </div>
        <div class="col-6" style="margin-left:-1px">
            <div class="row">
                <div class="col-6 itemDiv text-center">
                    <b>Sprawdził QS</b> / geprueft von
                </div>
                <div class="col-6 itemDiv text-center">
                    <b>Zatwierdził</b> / bestaetigt von
                </div>
            </div>
            <div class="row">
                <div class="col-6 itemDiv highlighted onelineheight">
                    @if (@Model.PackinInstructionObject.Examiner != null)
                    {
                        @Model.PackinInstructionObject.Examiner.FullName
                    }
                </div>
                <div class="col-6 itemDiv highlighted onelineheight">
                    @if (@Model.PackinInstructionObject.Confirm != null)
                    {
                        @Model.PackinInstructionObject.Confirm.FullName
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-6 itemDiv highlighted onelineheight">
                    @if (Model.PackinInstructionObject.ExaminedDate.Date.Year != 1900 && Model.PackinInstructionObject.Examined == true)
                    {
                        @Model.PackinInstructionObject.ExaminedDate.ToString("yyyy-MM-dd")
                    }
                </div>
                <div class="col-6 itemDiv highlighted onelineheight">
                    @if (Model.PackinInstructionObject.ConfirmedDate.Date.Year != 1900 && Model.PackinInstructionObject.Confirmed == true)
                    {
                        @Model.PackinInstructionObject.ConfirmedDate.ToString("yyyy-MM-dd")
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding:15px;">
        @using (Html.BeginForm())
        {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="form-horizontal">
            @Html.HiddenFor(model => model.Correction.PackingInstructionId)
            <div class="form-group">
                @Html.LabelFor(m => m.Correction.CorrectionText, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Correction.CorrectionText, new { @class = "form-control", @style= "max-width:640px", @rows = 4})
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-6 col-md-6">
                    <input type="submit" value="Zapisz" class="btn btn-default" />
                </div>
            </div>
        </div>
        }
    </div>
</div>

