@model _MPPL_WEB_START.Areas.AP.ViewModel.ActionShowViewModel
@using MDL_AP.Models.ActionPlan

@{
    ViewBag.Title = "Akcja";
}

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                
                <div class="Window">
                    <div class="WindowTitle">
                        <div style="float: left;">Szczegóły Akcji</div>
                        <div style="float: right;">
                            @Html.ActionLink("Edytuj", "Edit", new { id = Model.ActionId }, new { @class = "btn btn-default" })
                            @if (Model.Action.ParentActionId > 0)
                            {
                                @Html.ActionLink("Wróc do akcji nadrzędnej", "Show", new { id = Model.Action.ParentActionId }, new { @class = "btn btn-primary" })
                            }
                        </div>
                        <div class="clear_div"></div>
                    </div>
                    <div class="WindowContent">
                        @{ Html.RenderPartial("ShowActionDetails", Model); }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="Window">
                    <div class="WindowTitle">Dodaj Działanie</div>
                    <div class="WindowContent">
                        @{ Html.RenderAction("AddForm", "ActionActivity", new { id = Model.ActionId }); }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="Window">
                    <div class="WindowContent">
                        <div style="float: left;">
                            <br />Status Akcji: @(XLIB_COMMON.Enums.EnumHelper<ActionStateEnum>.GetDisplayValue(Model.Action.State))
                            <br />Ilość podakcji: @Model.SubactionsCount
                            <br />Ilość skonczonych podakcji: @Model.SubactionsFinishedCount
                            <br />Ilość zaangażowanych osób: @Model.SubactionsDistinctResponsibleCount
                        </div>
                        <div style="float: right;">
                            @if (Model.Action.State == ActionStateEnum.stateInit)
                            {
                                <img src="~/Content/Images/PDCA0.jpg" />
                            }
                            @if (Model.Action.State == ActionStateEnum.statePlan)
                            {
                                <img src="~/Content/Images/PDCA1.jpg" />
                            }
                            @if (Model.Action.State == ActionStateEnum.stateDo)
                            {
                                <img src="~/Content/Images/PDCA2.jpg" />
                            }
                            @if (Model.Action.State == ActionStateEnum.stateCheck)
                            {
                                <img src="~/Content/Images/PDCA3.jpg" />
                            }
                            @if (Model.Action.State == ActionStateEnum.stateAct)
                            {
                                <img src="~/Content/Images/PDCA4.jpg" />
                            }                            
                        </div>
                        <div class="clear_div"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="Window">
                    <div class="WindowTitle">
                        <div style="float:left;">Podakcje</div>
                        <div style="float:right;"><input type="button" value="Dodaj podakcję" id="CreateChild" class="btn btn-success"/></div>
                        <div class="clear_div"></div>
                    </div>
                    <div class="WindowContent" style="padding:0;">
                        <div id="ChildActions">
                            @*here are loaded actions by jQuery*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*Activities*@
<div class="row">
    <div class="col-md-12">
        <div class="Window">
            <div class="WindowTitle">Aktywności</div>
            <div class="WindowContent" style="padding:0;">
                @{ Html.RenderAction("List", "ActionActivity", new { id = Model.ActionId }); }
            </div>
        </div>
    </div>
</div>

</div>

@section scripts{
    <script type="text/javascript">
        $.ajaxSetup({ cache: false });
        var actionShow = new ActionShow();
        actionShow.ShowChildrenActions(@Model.Action.Id);
    </script>
}