@using MDL_ONEPROD.Model.Scheduling;
@using MDLX_MASTERDATA.Entities;
@model MDL_ONEPROD.Model.Scheduling.Workorder
@{
    Workorder t = Model;
    this.Layout = null;
    //List<Buffor_BoxItemGroup> trolleysCapacity = (List<Buffor_BoxItemGroup>)ViewBag.TrolleysCapacity;
    string iconClass =
        t.Status == TaskScheduleStatus.initial || t.Status == TaskScheduleStatus.planned ? "far fa-stop-circle" :
        t.Status == TaskScheduleStatus.inProduction || t.Status == TaskScheduleStatus.inUse ? "far fa-pause-circle" :
        t.Status == TaskScheduleStatus.produced ? "fas fa-flag-checkered" :
        "far fa-question-circle";
}

<div class="planMonitorRow" id="planMonitorRow_@t.Id" workorderid="@t.Id" style="overflow: hidden;">
    <div class="row no-gutters" style="margin-bottom: 5px;">
        <div class="col-1">
            <div class="row">
                <div class="col-12 lightCell" style="font-weight:bold; line-height: 25px;">@t.StartTime.ToString("HH:mm")</div>
            </div>
            <div class="row">
                <div class="col-12" style="line-height: 25px;">@t.StartTime.ToString("dd-MMM")</div>
            </div>
        </div>
        <div class="col-1">
            <div class="row">
                <div class="col-12" style="font-weight:bold; line-height: 25px;"><p> </p></div>
            </div>
            <div class="row">
                <div class="col-12" style="line-height: 25px;">@(t.ClientOrder != null? t.ClientOrder.Resource.ToString() : t.Resource.Name)</div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-5 lightCell" style="font-size: 28px; line-height: 50px;">@t.Item.Code</div>
                <div class="col-7">
                    <div class="row">
                        <div class="col-12 lightCell" style="line-height: 25px;">@(t.ClientOrder != null? t.ClientOrder.OrderNo : t.UniqueNumber)</div>
                        <div class="col-12" style="line-height: 25px;">@t.Item.Name</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1" style="font-size: 22px; line-height: 50px;">
            @t.Qty_Total
        </div>
        <div class="col-1 qtyRemain lightCell" style="font-size: 22px; line-height: 50px;">
            @t.Qty_Remain
        </div>
        <div class="col-1" style="font-size: 22px; line-height: 50px;">
        </div>
        <div class="col-1" style="font-size: 22px; line-height: 50px;">
            <div class="StatusWOInactive StatusIcon state@((int)t.Status) @iconClass hidden"></div>
            <div class="StatusWOActive StatusIcon state@((int)t.Status) far fa-play-circle"></div>
        </div>
    </div>
</div>
