@using MDL_ONEPROD.ComponentMes.ViewModels;
@using MDL_ONEPROD.Model.Scheduling;

@model List<WorkorderViewModel>

@{
    Layout = null;
    int TotalTasks = Model.Count;
    WorkorderViewModel t = null;
}
@*<div class="row no-gutters @(t.Status == TaskScheduleStatus.produced || t.Qty_Remain == 0 ? "gradient_ok" : "gradient")" style="margin-bottom: 5px;">*@

@for (int i = 0; i < TotalTasks; i++)
{
    t = Model[i];
    string iconClass =
        t.Status == TaskScheduleStatus.initial || t.Status == TaskScheduleStatus.planned ? "far fa-stop-circle" :
        t.Status == TaskScheduleStatus.inProduction || t.Status == TaskScheduleStatus.inUse ? "far fa-pause-circle" :
        t.Status == TaskScheduleStatus.produced ? "fas fa-flag-checkered" :
        "far fa-question-circle";

    <div class="planMonitorRow" id="planMonitorRow_@t.Id" workorderid="@t.Id" data-itemId="@t.PartId" style="overflow: hidden;">
        <div class="row no-gutters" style="margin-bottom: 5px;">
            <div class="col-1">
                <div class="row">
                    <div class="col-12 lightCell" style="font-weight:bold; line-height: 25px;">@t.StartTime.ToString("HH:mm")</div>
                </div>
                <div class="row">
                    <div class="col-12" style="line-height: 25px;">@t.StartTime.ToString("dd-MMM")</div>
                </div>
            </div>
            <div class="col-1">
                <div class="row">
                    <div class="col-12" style="font-weight:bold; line-height: 25px;"><p> </p></div>
                </div>
                <div class="row">
                    <div class="col-12" style="line-height: 25px;">@(t.Line)</div>
                </div>
            </div>
            <div class="col-5">
                <div class="row">
                    <div class="col-6 lightCell" style="font-size: 28px; line-height: 50px;">@t.PartCode</div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12 lightCell" style="line-height: 25px;">@t.OrderNumber</div>
                            <div class="col-12 text-truncate" style="line-height: 25px;">@t.PartName</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row no-gutters">
                    <div class="col-6" style="font-size: 22px; line-height: 50px;">
                        @t.Qty_Total
                    </div>
                    <div class="col-6 qtyRemain lightCell" style="font-size: 22px; line-height: 50px;">
                        @t.Qty_Remain
                    </div>
                </div>
            </div>
            <div class="col-1" style="font-size: 22px; line-height: 50px;">
            </div>
            <div class="col-1" style="font-size: 22px; line-height: 50px;">
                <div class="StatusWOInactive StatusIcon state@((int)t.Status) @iconClass"></div>
                <div class="StatusWOActive StatusIcon state@((int)t.Status) far fa-play-circle hidden"></div>
            </div>
        </div>
    </div>
}

