
<div class="row">
    <div class="col-md-12">
        <div class="btn-group btn-group-justified">
            @Html.ActionLink("Obszary", "DefManage", "Def", new { id = 1 }, new { @id="aArea", @class = "btn btn-switcher", @style= "border-right: 1px solid rgba(0,0,0,0.3);" })
            @Html.ActionLink("Działy", "DefManage", "Def", new { id = 2 }, new { @id = "aDepartment", @class = "btn btn-switcher", @style = "border-right: 1px solid rgba(0,0,0,0.3);" })
            @Html.ActionLink("Linie", "DefManageCombo", "Def", new { id = 3 }, new { @id = "aLine", @class = "btn btn-switcher", @style = "border-right: 1px solid rgba(0,0,0,0.3);" })
            @Html.ActionLink("Kody zmian", "DefManage", "Def", new { id = 4 }, new { @id = "aShiftCode", @class = "btn btn-switcher", @style = "border-right: 1px solid rgba(0,0,0,0.3);" })
            @Html.ActionLink("Stanowiska", "DefManageCombo", "Def", new { id = 5 }, new { @id = "aWorkstation", @class = "btn btn-switcher" })
            @Html.ActionLink("Kategorie", "DefManage", "Def", new { id = 6 }, new { @id = "aCategory", @class = "btn btn-switcher", @style = "border-right: 1px solid rgba(0,0,0,0.3);" })
            @Html.ActionLink("Typy", "DefManage", "Def", new { id = 7 }, new { @id = "aType", @class = "btn btn-switcher", @style = "border-right: 1px solid rgba(0,0,0,0.3);" })
        </div>
    </div>
</div>

