@{
    int port = ViewBag.Port;
    string workstationIds = ViewBag.WorkstationIds;
    string templateName = ViewBag.TemplateName;
    bool dropLayout = Convert.ToBoolean(ViewBag.DropLayout);

    if (dropLayout)
    {
        Layout = null;
    }
}

<style>
    .photo {
        background-position-x: center;
        background-position-y: center;
    }
</style>

<div id="RTV" class="RTV headerLive" style="min-width: 1800px;">
    <section id="rtvHeader">
        <div class="row headerRow">
            <div class="col-3 headerLeft">
                <div class="notInFullScreen" id="title" style="font-size: 29px; font-weight: bold;">DIGITAL JOB LIST</div>
                <div class="logoMD clickable onlyFullScreen hidden" style="background-image: url(@Url.Content("~/Content/images/logoElectrolux.png")) !important"></div>
            </div>
            <div class="col-2 headerLeft">
                <div class="headerMid" id="clockHeaderMid"></div>
            </div>
            <div class="col-4 headerLeft">
                <span id="workstationsNames" style="color: #888888; font-size: 25px;"></span>
            </div>
            <div class="col-3 headerRight">
                <div class="" style="font-size: 40px; float: right;" id="headerTitle">
                    <div><input class="form-control" id="workstationId" style="width: 150px;" value="@ViewBag.WorkstationIds" /></div>
                </div>
                <div class="" style="font-size: 40px; float: right;" id="headerTitle">
                    <div><input class="form-control" id="portNo" style="width: 70px;" value="@ViewBag.Port" /></div>
                </div>
                <div class="" style="font-size: 40px; float: right;" id="headerTitle">
                    <div><input class="form-control" id="templateName" style="width: 100px;" value="@ViewBag.TemplateName" /></div>
                </div>
            </div>
        </div>
        <div class="separator"></div>
    </section>
    <section id="rtvContent"></section>
</div>

<div class="row no-gutters jobListVisible" style="margin-top: 10px;" id="joblistColumns">
    <div class="col joblistColumnLeft" style="align-items: flex-start;" id="photos"></div>
    <div class="col joblistColumnRight" style="padding-left: 15px; padding-top: 5px;">
        <div class="row no-gutters">
            <div class="col-12">
                <input class="form-control" id="barcode" style="width: 100%;" value="" />
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-4"><div class="woDetail woDetailTitle">Nr Zamówienia:</div></div>
            <div class="col-8"><div class="woDetail woDetailValue" id="workorderNo"></div></div>
        </div>
        <div class="row no-gutters">
            <div class="col-4"><div class="woDetail woDetailTitle">Kod Produktu:</div></div>
            <div class="col-8"><div class="woDetail woDetailValue" id="itemCode"></div></div>
        </div>
        <div class="row no-gutters">
            <div class="col-4"><div class="woDetail woDetailTitle">Nazwa Produktu:</div></div>
            <div class="col-8"><div class="woDetail woDetailValue" id="itemName"></div></div>
        </div>
        <div class="row no-gutters">
            <div class="col-4"><div class="woDetail woDetailTitle">Ilość:</div></div>
            <div class="col-8"><div class="woDetail woDetailValue" id="QtyPlanned"></div></div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <div class="itemsListTitle">LISTA KOMPONENTÓW</div>
                <div id="joblistDataFound" style="color: red; font-size:20px; display: none;">!</div>
            </div>
            <div class="col-12">
                <div id="jobListItems"></div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
<script src="~/signalR/hubs"></script>
@*<script src="~/Areas/ONEPROD/Views/JobList/JobList.Script.js"></script>*@

<script type="text/javascript">

    var _port = @Html.Raw(Json.Encode(port));
    if (jobList != null) { console.log("Preparing to stop clock"); jobList.StopClock(); }
    var jobList = new JobList();

    $(document).ready(function () {
        openFullscreen();
        console.log("Job list view loaded");
        jobList.StartClock();

        console.log("preparing the hub");
        jlR = $.connection.jobListHub;
        jlR.client.broadcastMessage = function (barcode) {
            console.log("signalR");
            console.log(barcode);

            if (barcode == "reset") {
                $("#barcode").val(barcode);
                location.reload(true);
            }
            else {
                $("#barcode").val(barcode.replace(/\D/g, ''));
                jobList.GetItems();
            }
        };

        $.connection.hub.start().done(function () {
            console.log("Hub is started.");
            jlR.server.joinWorkstation(_port);
        });
        $.connection.hub.disconnected(function () {
            setTimeout(function () {
                $.connection.hub.start();
            }, 5000); // Restart connection after 5 seconds.
        });
    });

    $("#barcode").on('change keypress paste input', function () {
        var text = $(this).val();

        if (text == "reset") {
            location.reload(true);
        }
        else if (text.length >= 19) {
            console.log(text);
            jobList.GetItems();
        }
    });

</script>