@{
    Layout = null;
}

<style>
    .photoFrame {
        /*border: 1px solid red;*/
    }
</style>

@helper RenderD()
{
    <div class="row no-gutters dBox">
        <div class="col-12 code">
            <div class="dValue photoCodeVal"></div>
        </div>
    </div>
}

<div class="row no-gutters photoFlex" style="height: 690px;">
    <div class="col-2">
        <div class="row no-gutters photoFlex" style="height:25%;">
            <div class="col-12 photoFrame"><div class="photo" id="prefix-1010150" data-prefixes="1010150">@RenderD()</div></div> @*raczka dolna*@
        </div>
        <div class="row no-gutters photoFlex" style="height:25%;">
            <div class="col-12 photoFrame"><div class="photo photoAnimation" id="prefix-1000130" data-prefixes="1000130">@RenderD()</div></div> @*lower spray arm*@
        </div>
        <div class="row no-gutters photoFlex" style="height:25%;">
            <div class="col-12 photoFrame"><div class="photo photoAnimation" id="prefix-1010330" data-prefixes="1010330">@RenderD()</div></div> @*wsportnik filizanek*@
        </div>
        <div class="row no-gutters photoFlex" style="height:25%;">
            <div class="col-12 photoFrame"><div class="photo" id="prefix-1010170" data-prefixes="1010170">@RenderD()</div></div> @*SUPPORT GC2G*@
        </div>
    </div>
    <div class="col-6">
        <div class="row no-gutters photoFlex" style="height:50%;">
            <div class="col-4 photoFrame"><div class="photo" id="prefix-1010100" data-prefixes="1010100">@RenderD()</div></div> @*kosz dolny*@
            <div class="col-4 photoFrame"><div class="photo" id="prefix-1010110" data-prefixes="1010110, 1000140">@RenderD()</div></div> @*koszyki na sztucce*@
            <div class="col-4 photoFrame"><div class="photo photoAnimation" id="prefix-1010300" data-prefixes="1010300">@RenderD()</div></div> @*kosz gorny*@
        </div>
        <div class="row no-gutters photoFlex" style="height:25%;">
            <div class="col-6 photoFrame"><div class="photo" id="prefix-1400220" data-prefixes="1400220">@RenderD()</div></div> @*fairy*@
            <div class="col-6 photoFrame"><div class="photo" id="prefix-1400090" data-prefixes="1400090">@RenderD()</div></div> @*naklejki programów*@
        </div>
        <div class="row no-gutters photoFlex" style="height:25%;">
            <div class="col-6 photoFrame"><div class="photo" id="prefix-1700140" data-prefixes="1700140">@RenderD()</div></div> @*stripsy*@
            <div class="col-6 photoFrame"><div class="photo photoAnimation" id="prefix-0700110" data-prefixes="0700110">@RenderD()</div></div> @*dispenser*@
        </div>
    </div>
    <div class="col-2">
        <div class="row no-gutters photoFlex" style="height:25%;">
            <div class="col-12 photoFrame"><div class="photo photoAnimation" id="prefix-1010370" data-prefixes="1010370">@RenderD()</div></div> @*raczka górna*@
        </div>
        <div class="row no-gutters photoFlex" style="height:25%;">
            <div class="col-12 photoFrame"><div class="photo photoAnimation" id="prefix-1010380" data-prefixes="1010380">@RenderD()</div></div> @*spikes*@
        </div>
        <div class="row no-gutters photoFlex" style="height:25%;">
            <div class="col-12 photoFrame"><div class="photo photoAnimation" id="prefix-1010330" data-prefixes="1010330">@RenderD()</div></div> @*cupshelf*@
        </div>
        <div class="row no-gutters photoFlex" style="height:25%;">
            <div class="col-12 photoFrame"><div class="photo photoAnimation" id="prefix-1010340" data-prefixes="1010340,1010360">@RenderD()</div></div> @*Sx/DX, front wheel*@
        </div>
    </div>
    <div class="col-2">
        <div class="row no-gutters photoFlex" style="height:25%;">
            <div class="col-12 photoFrame"><div class="photo photoAnimation" id="prefix-1700021" data-prefixes="1700021">@RenderD()</div></div> @*Safety CUP/1700021- PERFECT FIT*@
        </div>
        <div class="row no-gutters photoFlex" style="height:25%;">
            <div class="col-12 photoFrame"><div class="photo photoAnimation" id="prefix-1700020" data-prefixes="1700020">@RenderD()</div></div> @*Safety CUP*@
        </div>
        <div class="row no-gutters photoFlex" style="height:25%;">
            <div class="col-12 photoFrame"><div class="photo photoAnimation" id="prefix-1010160" data-prefixes="1010160">@RenderD()</div></div> @*komponent z kosza. ten sam co na 47 prawa 1 od gory*@
        </div>
        <div class="row no-gutters photoFlex" style="height:25%;">
            <div class="col-12 photoFrame"><div class="photo photoAnimation" id="prefix-0200012" data-prefixes="0200012">@RenderD()</div></div> @*BRIDGE*@
        </div>
    </div>
</div>
<div class="row no-gutters mt-2 photoFlex" style="height: 255px;">
    
    <div class="col-2 photoFrame"><div class="photo" id="prefix-1010140" data-prefixes="1010140">@RenderD()</div></div> @*detergent*@
    <div class="col-6">
        <div class="row no-gutters photoFlex" style="height:100%;">
            <div class="col-3 photoFrame"><div class="photo" id="prefix-1010130" data-prefixes="1010130">@RenderD()</div></div> @*Lejek*@
            <div class="col-3 photoFrame"><div class="photo" id="prefix-1010120" data-prefixes="1010120">@RenderD()</div></div> @*rubber*@
            <div class="col-3 photoFrame"><div class="photo" id="prefix-1700160" data-prefixes="1700160">@RenderD()</div></div> @*distance piece*@
            <div class="col-3 photoFrame"><div class="photo" id="prefix-0700020" data-prefixes="0700020">@RenderD()</div></div> @*uszczelka drzwi*@
        </div>
    </div>
    <div class="col-2 photoFrame"><div class="photo" id="prefix-0800350" data-prefixes="0800350">@RenderD()</div></div>
    <div class="col-2 photoFrame"><div class="photo" id="prefix-0800135" data-prefixes="0800135">@RenderD()</div></div>
</div>

