@model _MPPL_WEB_START.Areas.AP.ViewModel.ActionDashBoardViewModel2
@{
    Layout = null;
}


@*<div class="row">
    <div class="col-md-12">
        <div class="Window">
            <div class="WindowTitle">@Model.DashBoardTitleAll (@Model.TotalActionsAll)</div>
            <div class="WindowContent" style="padding:0;">*@
                <div class="row">
                    <div class="col-md-12" style="text-align: center; font-size: 16px; overflow: hidden; line-height: 16px; height: 24px;">
                        <span style="font-weight: bold; color: #445969;">@Model.DashBoardTitleAll (@Model.TotalActionsAll)</span>
                    </div>
                    <div class="col-md-12">
                        <div class="class_@Model.ChartDivId" style="max-width: 200px; margin: 0 auto;">
                            <canvas id="@Model.ChartDivId"></canvas>
                        </div>
                    </div>
                </div>
            @*</div>
        </div>
    </div>
</div>*@


<script type="text/javascript">

    $(document).ready(function () {

        var chartCanvasId = "#@Model.ChartDivId";
        var data = @Html.Raw(Json.Encode(Model.ChartDataAll));

        new DashboardChart().DrawPieChart(chartCanvasId, data)
    });

</script>
