@model _MPPL_WEB_START.Areas.ONEPROD.OEE.ViewModels.BrowseReportsViewModel
@using _MPPL_WEB_START.Areas.ONEPROD.OEE.ViewModels;
@using MDL_ONEPROD.Model.OEEProd;
@using _MPPL_WEB_START.Areas._APPWEB.Models;
@{
    Layout = null;
}


@foreach (OeePartData oeepd in Model.OeePartData)
{
    <style>
    .Et@(oeepd.CssClass.Substring(2)) {
        background-color: @oeepd.Color;
    }
    .entryTypeRow.Et@(oeepd.CssClass.Substring(2)) {
        border-color: @oeepd.Color;
        background-color: @ColorHelper.ColorChangeTransparency(@oeepd.Color, 0.10);
        color: @ColorHelper.ColorChangeSaturation(@oeepd.Color, 0.50);
    }
    </style>
}

@helper ResultAPQ(decimal result, string description, string letter)
{
    <div class="row centerVHText apqResultStyle">
        
            <div class="col-2">
                <div class="apqIconStyle">
                    <div style="font-size: 38px;">@letter</div>
                </div>
            </div>
            <div class="col-6">@description</div>
            <div class="col-4">@result.ToString("P2")</div>
        
    </div>
}


<div class="row">
    <div class="col-12">
        <div class=" OeeSummaryBox shadow">
            <div class="OeeSummaryHeader centerVHText">PODSUMOWANIE</div>

            @if (Model.OeePartData.Count > 0)
            {
                <div class="OeeSummaryInnerDiv">

                    <div class="OeeSummaryHeaderDesc centerVHText">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-6">TYP</div>
                            <div class="col-4">CZAS [min]</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            @foreach (OeePartData oeepd in Model.OeePartData)
                            {
                                <div class="centerVHText summaryDataTextStyle">
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="@oeepd.CssClass entryTypeRow etDot" style="height:24px; width: 24px; border-radius: 12px; margin-left: 12px;">
                                                <i class="fas fa-eye"></i>
                                            </div>
                                        </div>
                                        <div class="col-6">@oeepd.Name</div>
                                        <div class="col-4 descFont">@oeepd.TimeInMin.ToString("0.##")</div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <br />

                    @ResultAPQ(@Model.AvailabilityResult, "DOSTĘPNOŚĆ", "A")
                    @ResultAPQ(@Model.PerformanceResult, "WYKORZYSTANIE", "P")
                    @ResultAPQ(@Model.QualityResult, "JAKOŚĆ", "Q")
                    <hr />

                    <div class="row" style="height:75px;">
                        <div class="col-12 centerVHText oeeResultStyle">
                            <div class="row">
                                <div class="col-2">
                                    <div class="oeeIconStyle">
                                        <div style="font-size: 28px;">OEE</div>
                                    </div>
                                </div>
                                <div class="col-6">WYNIK</div>
                                <div class="col-4">@((Model.OeeResult).ToString("P2"))</div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="OeeSummaryInnerDiv">
                    <div class="OeeSummaryHeaderDesc centerVHText">
                        <div class="row">
                            <div class="col-12">Not found</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


