@*@using MDL_BASE.Models.Base;*@
@using MDL_PFEP.ComponentLineFeed.Models;
@using _MPPL_WEB_START.Areas.PFEP.ViewModels;
@using MDLX_CORE.ComponentCore.Entities;
@model PrintDefViewModel
@{
    Layout = null;
}

@*@Styles.Render("~/Content/ExternalStyles")*@
@Styles.Render("~/_ClientAppJS/ExternalLibraries/ExternalStylesBundle")
@Scripts.Render("~/bundles/ExternalScripts")

@Styles.Render("~/Content/AppStyles")
@Scripts.Render("~/bundles/AppScripts")

@Scripts.Render("~/bundles/modernizr")

<style>
    body {
        font-size: 13px;
        padding: 0;
    }

    .customDiv {
        font-size: 25px;
        border: dashed 2px;
    }

    .mb-2,
    .my-2 {
        margin-bottom: 0.5rem !important;
    }

    .bg-primary {
        background-color: #007bff !important;
    }

    .bg-secondary {
        background-color: #868e96 !important;
    }

    .rounded {
        border-radius: 0.25rem !important;
    }

    .mt-3,
    .my-3 {
        margin-top: 1rem !important;
    }

    .font-weight-bold {
        font-weight: 700 !important;
    }

    .border-dark {
        border-color: #343a40 !important;
    }

    .border {
        border: 1px solid #e9ecef !important;
    }

    .border-0 {
        border: 0 !important;
    }

    .border-top-0 {
        border-top: 0 !important;
    }

    .border-right-0 {
        border-right: 0 !important;
    }

    .border-bottom-0 {
        border-bottom: 0 !important;
    }

    .border-left-0 {
        border-left: 0 !important;
    }

    .printCell {
        padding: 0;
    }
</style>

<div class="container mt-3" style="width: 1000px;">
    @*DOCUMENT HEADER*@
    <div class="row mb-2 p-3 bg-primary rounded">
        <div class="col-2 mb-2 text-right">nr. wydr:</div>
        <div class="col-2 mb-2 text-left">@Model.PrintNumber</div>
        <div class="col-2 mb-2 text-center">-</div>
        <div class="col-2 mb-2 text-center">@Model.DateRange</div>
        <div class="col-2 mb-2"></div>
        <div class="col-2 mb-2 text-center">@Model.PrintDate</div>
        <div class="col-2"></div>
        <div class="col-8 customDiv text-center">
            @Model.Routine
        </div>
        <div class="col-2"></div>
    </div>

    @*TABLE HEADER*@
    <div class="row mt-2 text-center font-weight-bold" style="background-color: #c4c4c4">
        <div class="col-5">
            <div class="row">
                <div class="col-3 printCell border border-right-0">Start</div>
                <div class="col-1 printCell border border-right-0">Line</div>
                <div class="col-3 printCell border border-right-0">Order</div>
                <div class="col-3 printCell border border-right-0">PNC</div>
                <div class="col-2 printCell border border-right-0">Ilość</div>
            </div>
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col-2 printCell border  border-right-0">ANC</div>
                <div class="col-6 printCell border  border-right-0">Nazwa</div>
                <div class="col-2 printCell border  border-right-0">Suma</div>
                <div class="col-1 printCell border  border-right-0">Op.</div>
                <div class="col-1 printCell border">St.</div>
            </div>
        </div>
    </div>

    @*ANC ROW*@
    @foreach (PrintModelANCs_Orders dm in Model.PrintData.ANCs_Orders_ManyToMany)
    {
        int rows = dm.Orders.Count > dm.Ancs.Count ? dm.Orders.Count : dm.Ancs.Count;
        int i = 0;

        <div class="row mt-2 text-center border printTable">

            <div class="col-5 border">
                @for (i = 0; i < rows; i++)
                {
                    if (i < dm.Orders.Count)
                    {
                        <div class="row">
                            <div class="col-3 printCell">@dm.Orders[i].StartDate.ToString("dd-MM HH:mm")</div>
                            <div class="col-1 printCell">@dm.Orders[i].Line.Name</div>
                            <div class="col-3 printCell">@dm.Orders[i].OrderNumber</div>
                            <div class="col-3 printCell">@dm.Orders[i].Pnc.Code</div>
                            <div class="col-2 printCell">@dm.Orders[i].QtyRemain</div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-12" style="color:white;">.</div>
                        </div>
                    }
                }
            </div>
            <div class="col-7 border">
                @for (i = 0; i < rows; i++)
                {
                    if (i < dm.Ancs.Count)
                    {
                        <div class="row">
                            <div class="col-2 printCell">@dm.Ancs[i].Code</div>
                            <div class="col-6 printCell">@dm.Ancs[i].Name</div>
                            <div class="col-2 printCell">@dm.Sum</div>
                            <div class="col-1 printCell">@dm.Ancs[i].Packages</div>
                            <div class="col-1 printCell">@dm.Ancs[i].WorkstationName</div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-12" style="color:white;">.</div>
                        </div>
                    }
                }
            </div>
        </div>
    }

</div>
