@using _MPPL_WEB_START.Areas.ONEPROD.OEE.ViewModels;
@using MDL_ONEPROD.Model.OEEProd;
@using MDL_ONEPROD.Model.Scheduling;

@model List<DashBoardViewModel>

@{
    /**/

    Layout = null;
    ViewBag.Title = "Raporty OEE";
    int maxMachines = 6; //Model.Max(x => x.MachineList.Count);
}

<style>
    .dashboardMachineBox {
        min-height: 210px;
        height: 100%;
        width: 100%;
        margin-right: 5px;
        display: inline-block;
        border: 0px solid black;
        color: rgb(65, 65, 65);
        background-color: rgba(255, 255, 255, 0.5);
    }
    .dashboardMachineBox:hover{
        background-color: rgba(255, 255, 255, 1);
    }
    .dashboardMachineBox:hover .dashboardMachineBoxHeader {
        color: #b2e7e8
    }

    .dashboardMachineBoxHeader {
        padding: 7px;
        font-weight: bold;
        font-size: 18px;
        color: #3a696a;
        background: rgba(132,187,188,1);
        background: -moz-linear-gradient(left, rgba(132,187,188,1) 0%, rgba(87,160,163,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(132,187,188,1)), color-stop(100%, rgba(87,160,163,1)));
        background: -webkit-linear-gradient(left, rgba(132,187,188,1) 0%, rgba(87,160,163,1) 100%);
        background: -o-linear-gradient(left, rgba(132,187,188,1) 0%, rgba(87,160,163,1) 100%);
        background: -ms-linear-gradient(left, rgba(132,187,188,1) 0%, rgba(87,160,163,1) 100%);
        background: linear-gradient(to right, rgba(132,187,188,1) 0%, rgba(87,160,163,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84bbbc', endColorstr='#57a0a3', GradientType=1 );
    }
    .disabled {
        background-color: rgba(220, 220, 220, 0.15) !important;
        border: 1px solid #80808017;
    }
    .dshMachineTitle {
        
    }
    .areaSummaryTitle {
        font-size: 29px;
        text-align: center;
        background-color: #4d6869;
        color: #fdffff;
    }
    .areaSummaryResult {
        font-size: 57px;
        text-align: center;
        padding: 0 27px;
        color: #688485;
    }
    .summaryMachine{
        background-color: #ffffff;
    }
    .areaSummaryDescr {
        padding-top: 20px;
        text-align: center;
        color: gray;
    }
    .nrftTitle{
        color: #681acb99; 
    }
    .nrftValue {
        color: #681acb99; 
        font-weight: bold;
    }
    .nrftSummary{
        font-size:22px;
        text-align: center;
    }
</style>

<div class="row">
    <div class="col-12">
        <h2>OEE Dashboard</h2>
        @*<span class="btn btn-primary btnDsh" data-form="">YTD</span>
        <span class="btn btn-primary btnDsh" data-form="">MTD</span>
        <span class="btn btn-primary btnDsh" data-form="">WTD</span>
        <span class="btn btn-primary btnDsh" data-form="">M-1</span>
        <span class="btn btn-primary btnDsh" data-form="">W-1</span>
        <span class="btn btn-primary btnDsh" data-form="">SH-1</span>*@
        @*<a href="@Url.Action("MachineDetails")">szczegóły</a>*@
    </div>
</div>

@*Generowanie Obszarów wraz z maszynami*@

@foreach (DashBoardViewModel vm in Model)
{
    if (vm.Area.IsOEE)
    {
        <div class="row">
            <div class="col-12">
                
                <div id="@vm.Area.Id"></div>
            </div>
        </div>
        <div class="row dashboardAreaBox" data-areaId="@vm.Area.Id" style="margin:0 !important;">
            @for (int i = -1; i < maxMachines-1; i++)
            {
            <div class="col-2" style="        padding: 5px !important;
">
                @if (i >= 0)
                {
                    ResourceOP machine = (i < vm.MachineList.Count) ? vm.MachineList[i] : null;
                    if (machine != null && machine.IsOEE) //machine.Id != 13 && machine.Id != 15)
                    {
                        <div class="dashboardMachineBox activeMachine" id="machineId_@machine.Id" data-machineId="@machine.Id" data-startDay="@machine.ResourceGroupOP.ProdStartDay"></div>
                    }
                    else
                    {
                        <div class="dashboardMachineBox disabled" id="0" data-machineId="0"></div>
                    }
                }
                else
                {
                    <div class="dashboardMachineBox summaryMachine as" id="areaSummary_@vm.Area.Id" data-machineId="0">
                        <div class="areaSummaryTitle text-truncate">@vm.Area.Name</div>
                        <div class="areaSummaryDescr">Średni Wynik OEE</div>
                        <div class="areaSummaryResult" id="OeeResultAverage_@vm.Area.Id">--%</div>

                        <div class="nrftSummary">
                            <div class="nrftTitle d-inline-block mr-2">NRFT: </div><div class="nrftValue d-inline-block" id="nrftResultAverage_@vm.Area.Id">--</div>
                        </div>
                    </div>
                }
            </div>
            }
        </div>
    }
}

<script type="text/javascript">
    
    $(document).ready(function () {
        //rtvs.length = 0;
        //rtvs = [];
        $("#btnBrowse").removeClass("hidden");
        $("#btnDashboard").addClass("hidden");
        $("#btnMachineDetails").removeClass("hidden");
        $("#btnReasonDetails").removeClass("hidden");

        LoadDashboardData();
    });
    //$("#btnRefresh").click(function () {
    //    ReadFilters();
    //    console.log("refresh dashboard");
    //    LoadDashboardData();
    //});

    function LoadDashboardData() {
        $(".activeMachine").each(function (e) {
            $(this).html("");
            var machineId = $(this).attr("data-machineId");
            var startDay = $(this).attr("data-startDay");

            if (machineId != 13 && machineId != 15) {
                ReadFilters(startDay);
                filters.machineId = machineId;
                LoadDetails('#machineId_' + machineId);
            }
        });
    }
    function LoadDetails(selector) {
        //console.log(filters);
        $(selector).html(ShowLoadingSnippetNoText());
        $.get("/ONEPROD/OEEDashboard/IndexMachine", filters, function (data) {
            $(selector).html('');
            $(selector).append(data);
            CalculateAvg(selector);
        });
    }
    function CalculateAvg(selector) {

        $el = $(selector).closest(".dashboardAreaBox");

        var counter = 0;

        var oeeSum = 0;
        var oeeResult = 0;
        var OEEavg = 0;

        var nrftSum = 0;
        var nrftResult = 0;
        var NRFTavg = 0;

        var areaId = $el.attr("data-areaId");

        $el.find(".dashboardMachineBox").each(function (i,el) {
            oeeResult = parseFloat($(el).find("#OeeResult").text().replace("%", "").replace(",", "."));
            nrftResult = parseInt($(el).find(".nrftValue").text().replace(' ', '').replace(",", "."));
            console.log("nrftResult: " + nrftResult + ", ??? " + $(el).find(".nrftValue").text());

            if (oeeResult > 0) {
                counter++;
                oeeSum += oeeResult;
                nrftSum += nrftResult;
            }
            //console.log(areaId + ": " + oeeResult);
        });

        OEEavg = counter > 0 ? oeeSum / counter : 0;
        NRFTavg = counter > 0 ? nrftSum / counter : 0;
        $("#OeeResultAverage_" + areaId).text(OEEavg.toFixed(2) + "%");
        $("#nrftResultAverage_" + areaId).text(NRFTavg.toFixed(0));
    }
</script>

