@model _MPPL_WEB_START.Areas.ONEPROD.OEE.ViewModels.DashBoardViewModel
@using MDL_ONEPROD.Model.OEEProd;
@using _MPPL_WEB_START.Areas._APPWEB.Models.Clients;
@using _MPPL_WEB_START.Areas._APPWEB.Models;

@{
    Layout = null;
    ViewBag.Title = "Machine Details";
    bool mediaEnabled = (bool)ViewBag.MediaEnabled;
    List<ReasonType> reasonTypes = Model.ReasonTypes;
}

<style>
    .mt15 {
        margin-top: 10px;
    }

    .SectionBox {
        min-width: 650px;
    }

    .box1 {
        background: #f7f7f7;
        border: 0px solid gray;
        padding: 5px;
    }

    .gaugeBoxSmall {
        height: 147px;
    }

    .gaugeBoxBig {
        height: 32px;
        margin-top: 4px;
        text-align: center;
        font-weight: bold;
    }

    .detailBox {
        margin-top: 4px;
        height: 25px;
        padding: 0px;
    }

    .detailBoxTitle {
        position: relative;
        top: 5px;
        left: 5px;
        font-size: 8px;
        color: #920000;
    }

    .detailBoxValue {
        position: relative;
        top: -12px;
        right: 5px;
        font-size: 16px;
        font-weight: bold;
        color: #888888;
        text-align: right;
    }

    .titleColor {
        color: #21b191;
    }

    .OEETitle {
        font-size: 100px;
        text-align: center;
        font-weight: bold;
        position: absolute;
        top: 170px;
        left: 0;
        width: 100%;
    }

    .gaugeOEE {
        max-width: 480px;
        max-height: 145px;
        margin: auto;
    }

    .gaugeAPQ {
        width: 100%;
        height: 100%;
        float: left;
    }


    .chartTitle {
        width: 100%;
        padding: 15px 5px;
        text-align: center;
        font-weight: bold;
    }

    .chartComment {
        float: left;
        width: 20%;
        padding: 15px 5px;
        text-align: center;
        font-weight: bold;
    }

    .chart {
        margin: auto;
    }
</style>
<style>
    .clearPaddingL {
        padding-left: 5px;
    }

    .clearPaddingR {
        padding-right: 5px;
    }

    .chartjsLegend {
        min-height: 35px;
        padding: 10px;
        text-align: center;
    }

        .chartjsLegend .LegendItm {
            margin: 0 5px;
            display: inline-block;
        }

        .chartjsLegend .LegendItmLC {
            float: left;
            width: 35px;
            height: 20px;
        }

        .chartjsLegend .LegendItmLT {
            float: left;
            height: 15px;
            padding: 0px 5px;
        }

        .chartjsLegend .LegendItm.inactive {
            color: red !important;
        }

    .b1 {
        height: 100%;
        border: 0px solid red;
        min-width: 50px;
        margin-left: 5px;
        float: left;
        display: inline-block;
    }
</style>

@*GAUGES*@
<section id="Charts-FirstRow" class="SectionBox">
    <div class="row mt15">
        <div class="col-12 col-md-12 col-lg-7 col-xl-7 clearPaddingR">
            @*GAUGES*@
            <div class="shadow WindowBox" style="padding: 2px;">
                <div class="row">
                    @*OEE RESULT GAUGE*@
                    <div class="col-5">
                        <div class="box1 gaugeBoxSmall" style="height: 300px;">
                            <div id="oeeResultGauge" class="gaugeOEE"></div>
                            <div class="OEETitle titleColor">OEE</div>
                        </div>
                    </div>
                    @*OEE RESULTS APQ GAUGES*@
                    <div class="col-7" style="padding-left:2px; padding-right:30px;">
                        <div class="row">
                            <div class="col-4" style="padding-right:2px; padding-left:2px;">
                                <div class="box1 gaugeBoxSmall" style="">
                                    <div id="jg2" class="gaugeAPQ"></div>
                                </div>
                                <div class="box1 gaugeBoxBig titleColor">
                                    AVAILABILITY
                                </div>
                            </div>
                            <div class="col-4" style="padding-right:2px; padding-left:2px;">
                                <div class="box1 gaugeBoxSmall" style="">
                                    <div id="jg3" class="gaugeAPQ"></div>
                                </div>
                                <div class="box1 gaugeBoxBig titleColor">
                                    PERFORMANCE
                                </div>
                            </div>
                            <div class="col-4" style="padding-right:2px; padding-left:2px;">
                                <div class="box1 gaugeBoxSmall" style="">
                                    <div id="jg4" class="gaugeAPQ"></div>
                                </div>
                                <div class="box1 gaugeBoxBig titleColor">
                                    QUALITY
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @*AVAILABILITY*@
                            <div class="col-4" style="padding-right:2px; padding-left:2px;">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="box1 detailBox">
                                            <div class="detailBoxTitle">POST. PLANOWANE:</div>
                                            <div class="detailBoxValue">
                                                <span id="StopsPlannedInMin"></span> min
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="box1 detailBox">
                                            <div class="detailBoxTitle">POST. NIEPLANOWANE:</div>
                                            <div class="detailBoxValue">
                                                <span id="StopsUnplannedInMin"></span> min
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="box1 detailBox">
                                            <div class="detailBoxTitle"></div>
                                            <div class="detailBoxValue"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="box1 detailBox">
                                            <div class="detailBoxTitle"></div>
                                            <div class="detailBoxValue"></div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="row">
                                        <div class="col-12">
                                            <div class="box1 detailBox">
                                                <div class="detailBoxTitle">PRZEZBROJENIA:</div>
                                                <div class="detailBoxValue">
                                                    <span id="StopsUnplannedChangeoverInMin"></span> min
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="box1 detailBox">
                                                <div class="detailBoxTitle">POST. AWARIE:</div>
                                                <div class="detailBoxValue">
                                                    <span id="StopsBreakdownInMin"></span> min
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                            </div>
                            @*PERFORMANCE*@
                            <div class="col-4" style="padding-right:2px; padding-left:2px;">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="box1 detailBox">
                                            <div class="detailBoxTitle">PROD:</div>
                                            <div class="detailBoxValue">
                                                <span id="ProductionTimeInMin"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="box1 detailBox">
                                            <div class="detailBoxTitle">MIKROPRZESTOJE:</div>
                                            <div class="detailBoxValue">
                                                <span id="StopsPerformanceInMin"></span> min
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="box1 detailBox">
                                            <div class="detailBoxTitle"></div>
                                            <div class="detailBoxValue">
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="box1 detailBox">
                                            <div class="detailBoxTitle"></div>
                                            <div class="detailBoxValue">
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*QUALITY*@
                            <div class="col-4" style="padding-right:2px; padding-left:2px;">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="box1 detailBox">
                                            <div class="detailBoxTitle">SCRAP MAT.:</div>
                                            <div class="detailBoxValue">
                                                <span id="ScrapMaterialQty">szt</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="box1 detailBox">
                                            <div class="detailBoxTitle">SCRAP PROC.:</div>
                                            <div class="detailBoxValue">
                                                <span id="ScrapProcessQty">szt</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="box1 detailBox">
                                            <div class="detailBoxTitle">NRFT:</div>
                                            <div class="detailBoxValue">
                                                <span id="nrft"></span> ppm
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="box1 detailBox">
                                            <div class="detailBoxTitle"></div>
                                            <div class="detailBoxValue">
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*HORIZONTAL CHARTS*@
        <div class="col-12 col-md-12 col-lg-5 col-xl-5 clearPaddingL">
            @*style="padding-left:0;">*@
            <div class="shadow WindowBox" style="height: 305px; max-height: 305px; padding: 5px;">
                <div id="OeeResultsHorizontalBar"></div>
            </div>
        </div>
    </div>
</section>

@*PROD LOG & OEE RESULTS & REPORT ONLINE STATS*@
<section id="SecondRow" class="SectionBox">
    <div class="row mt15">
        @*PRODUCTION DETAILS*@
        <div class="col-12 col-md-12 col-lg-7 col-xl-7 clearPaddingR">
            <div class="shadow WindowBox">
                <div class="row">
                    <div class="col-12">
                        <div id="gridProd" style="min-height: 415px; max-height: 415px;"></div>
                    </div>
                </div>
            </div>
        </div>
        @*OEE CHART*@
        <div class="col-12 col-md-12 col-lg-5 col-xl-5 clearPaddingL">
            <div class="row mb-2">
                <div class="col-12">
                    <div class="shadow WindowBox" style="height:55px; padding-top: 5px; padding-left:5px; text-align:center;">
                        <div class="row">
                            <div class="col-2">
                                <div style="width:45px; height:45px; border: 1px solid gray; border-radius: 5px;">
                                    <div id="rtvScreenShot" data-fancybox="groupRTV" style="margin-top: 5px; font-size: 32px;" class="far fa-images"></div>
                                    <div id="rtvScreenShots" style="display:none;"></div>
                                </div>
                            </div>
                            <div class="col-10">
                                <style>
                                    .b1 {
                                        height: 100%;
                                        border: 0px solid red;
                                        min-width: 50px;
                                        margin-left: 5px;
                                        float: left;
                                        display: inline-block;
                                    }
                                </style>
                                <div class="row">
                                    <div class="col-12">
                                        <div id="reportOnlinePlcStopLabel" class="b1">PLC STOP:</div>
                                        <div id="reportOnlinePlcStopData" class="b1">0 MIN</div>
                                        <div id="reportOnlinePlcProdLabel" class="b1 ml-3">PLC QTY:</div>
                                        <div id="reportOnlinePlcProdData" class="b1">0 SZT</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div id="reportOnlineOperatorStopLabel" class="b1">OPT. STOP:</div>
                                        <div id="reportOnlineOperatorStopData" class="b1">0 MIN</div>
                                        <div id="reportOnlineOperatorProdLabel" class="b1 ml-3">OPT. QTY:</div>
                                        <div id="reportOnlineOperatorProdData" class="b1">0 SZT</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="shadow WindowBox">
                        <div class="chartTitle chartTitleOEE">OEE</div>
                        <div style="height:300px; width: 100%;" id="chartOEE" class="chart chartOEE" data-dataset="1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*CHARTS - A,P,Q*@
<section id="Charts-APQ" class="SectionBox">
    <div class="row mt15">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 clearPaddingR">
            <div class="shadow WindowBox">
                <div class="chartTitle chartTitleOEE">AVAILABILITY</div>
                <div style="height:300px; width: 585px;" id="chartA" class="chart chartOEE" data-dataset="3"></div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 clearPaddingR clearPaddingL">
            <div class="shadow WindowBox">
                <div class="chartTitle chartTitleOEE">PERFORMANCE</div>
                <div style="height:300px; width: 585px;" id="chartP" class="chart chartOEE" data-dataset="5"></div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 clearPaddingL">
            <div class="shadow WindowBox">
                <div class="chartTitle chartTitleOEE">QUALITY</div>
                <div style="height:300px; width: 585px;" id="chartQ" class="chart chartOEE" data-dataset="7"></div>
            </div>
        </div>
    </div>
</section>
<div id="ChartsEnergy">
    
</div>
@*CHARTS OF REASON TYPES*@
<section id="Charts-Stop_0" class="SectionBox chartGroupOfReasonType">
    <div class="row mt15">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 clearPaddingR">
            <div class="shadow WindowBox">
                <div class="chartTitle">
                    <i class="glyphicon glyphicon-th-list" style="position:relative; float:left" id="chartStop_ReasonTypesComment" data-placement="right"></i>
                    Kategorie Postojów
                </div>
                <div style="height:350px; width: 585px;" id="chartStop_0"
                     class="chart chartStop_0 GroupChartsOfReasonType" data-reasonTypeId="0"></div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 clearPaddingR clearPaddingL">
            <div class="shadow WindowBox">
                <div class="chartTitle">Kategorie Postojów (SKUMULOWANY)</div>
                <div style="height:350px; width: 585px;" id="chartCumulatedStop_0"
                     class="chart chartStop_0 GroupChartsCumulatedOfReasonType" data-reasonTypeId="0"></div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 clearPaddingL">
            <div class="shadow WindowBox">
                <div class="chartTitle">Kategorie Postojów (PARETO)</div>
                <div style="height:350px; width: 585px;" id="chartParetoStop_0"
                     class="chart GroupChartsParetoOfReasonType" data-reasonTypeId="0"></div>
            </div>
        </div>
    </div>
    <div class="row mt15">
        <div class="col-12">
            <div class="shadow WindowBox">
                <div id='Charts-Stop_0-Legend' class='chartjsLegend'></div>
            </div>
        </div>
    </div>
</section>

@*CHARTS OF STOPPAGES BY REASON TYPE*@
@for (int i = 0; i < reasonTypes.Count; i++)
{
    <section id="Charts-Stop_@reasonTypes[i].Id" class="SectionBox chartGroup">
        <div class="row mt15">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 clearPaddingR">
                <div class="shadow WindowBox">
                    <div class="chartTitle">
                        <i class="glyphicon glyphicon-th-list" style="position:relative; float:left" id="chartStop_@(reasonTypes[i].Id)Comment" data-placement="right"></i>
                        @reasonTypes[i].Name
                    </div>
                    <div style="height:350px; width: 585px;" id="chartStop_@reasonTypes[i].Id"
                         class="chart chartStop_@reasonTypes[i].Id GroupChartsEntryType" data-reasonTypeId="@reasonTypes[i].Id"></div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 clearPaddingR clearPaddingL">
                <div class="shadow WindowBox">
                    <div class="chartTitle">@reasonTypes[i].Name (SKUMULOWANY)</div>
                    <div style="height:350px; width: 585px;" id="chartCumulatedStop_@reasonTypes[i].Id"
                         class="chart chartStop_@reasonTypes[i].Id GroupChartsCumulatedEntryType" data-reasonTypeId="@reasonTypes[i].Id"></div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 clearPaddingL">
                <div class="shadow WindowBox">
                    <div class="chartTitle">@reasonTypes[i].Name (PARETO TOP5)</div>
                    <div style="height:350px; width: 585px;" id="chartParetoStop_@reasonTypes[i].Id"
                         class="chart GroupChartsParetoEntryType" data-reasonTypeId="@reasonTypes[i].Id"></div>
                </div>
            </div>
        </div>
        <div class="row mt15">
            <div class="col-12">
                <div class="shadow WindowBox">
                    <div id='Charts-Stop_@(reasonTypes[i].Id)-Legend' class='chartjsLegend'></div>
                </div>
            </div>
        </div>
    </section>
}

@*CHARTS - SCRAP PARETOS*@
<section id="Charts-OtherPareto" class="SectionBox">
    <div class="row mt15">
        @*PARETO BY REASON TYPE*@
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 clearPaddingR">
            <div class="shadow WindowBox">
                <div class="chartTitle">PARETO SCRAP TYPY POWODÓW</div>
                <div style="height:350px; width: 585px;" id="chartParetoScrapReasonType"
                     class="chart GroupChartsParetoScrapReasonType" data-entryType="12"></div>
            </div>
            <div class="row mt15">
                <div class="col-12">
                    <div class="shadow WindowBox">
                        <div id='Charts-ParetoScrapReasonType-Legend' class='chartjsLegend'></div>
                    </div>
                </div>
            </div>
        </div>
        @*PARETO BY REASON*@
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 clearPaddingR clearPaddingL">
            <div class="shadow WindowBox">
                <div class="chartTitle">PARETO SCRAP POWODY</div>
                <div style="height:350px; width: 585px;" id="chartParetoScrapReason"
                     class="chart GroupChartsParetoScrapReason" data-entryType="0"></div>
            </div>
            <div class="row mt15">
                <div class="col-12">
                    <div class="shadow WindowBox">
                        <div id='Charts-ParetoScrapReason-Legend' class='chartjsLegend'></div>
                    </div>
                </div>
            </div>
        </div>
        @*PARETO BY ITEM CODE*@
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 clearPaddingL">
            <div class="shadow WindowBox">
                <div class="chartTitle">PARETO KODY ANC</div>
                <div style="height:350px; width: 585px;" id="chartParetoScrapAnc"
                     class="chart GroupChartsParetoScrapAnc" data-entryType="0"></div>
            </div>
            <div class="row mt15">
                <div class="col-12">
                    <div class="shadow WindowBox">
                        <div id='Charts-ParetoScrapAnc-Legend' class='chartjsLegend'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-12" style="min-height: 50px;"></div>
</div>

<script src="~/Areas/ONEPROD/Views/OEEDashboard/MachineDetails.js"></script>
<script src="~/Areas/ONEPROD/Views/Energy/EnergyDetails.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        console.log("MachineDetails.cshtml.ready");
        $("#btnBrowse").removeClass("hidden");
        $("#btnDashboard").removeClass("hidden");
        $("#btnReasonDetails").removeClass("hidden");
        $("#btnMachineDetails").addClass("hidden");
        InitGauges();
        RefreshGauges();
        RefreshReportOnlineData();
        RefreshHorizontalBar();
        RefreshAllOEECharts();
        InitGridProd();
        RefreshGridProd();
        RefreshGridProd();
        RefreshReportEnergyData(@Html.Raw(Json.Encode(mediaEnabled)));

        RefreshOneChartOfReasonType($("#Charts-Stop_0 .GroupChartsOfReasonType"), "0");
        RefreshOneChartOfReasonType($("#Charts-Stop_0 .GroupChartsCumulatedOfReasonType"), "0");
        RefreshOneChartOfReasonType($("#Charts-Stop_0 .GroupChartsParetoOfReasonType"), "0");

        RefreshAllChartsByEntryType();

        RefreshChartParetoScrapReasonType("chartParetoScrapReasonType");
        RefreshChartParetoScrapReason("chartParetoScrapReason");
        RefreshChartParetoScrapAnc("chartParetoScrapAnc");

        $(document).off('click', ".chartEnergy");
        $(document).on("click", ".chartEnergy", function () {
            console.log("PopupFix");
            var elParent = $(this).parent();
            var chartType = $(this).attr("data-charttype");
            var wnd = new PopupWindow("80%", "50%", 60, 100);
            wnd.Init("chart2", "Wykres");
            wnd.Show(elParent.html());

            var el2 = $(document).find(wnd.DivSelector() + " .chart");
            el2[0].id = el2[0].id + "Big";
            $(el2).css("min-height", "500px");
            $(el2).css("height", "50%");
            $(el2).css("width", "100%");
            var energyDraw = new EnergyDetails(filters);
            energyDraw.DrawBig(el2[0].id, chartType);

        });

    });

    $(".chartTitle").on("click", function () {

        var elParent = $(this).parent();
        var wnd = new PopupWindow("80%", "50%", 60, 100);
        wnd.Init("chart1", "Wykres");
        wnd.Show(elParent.html());

        var el2 = $(document).find(wnd.DivSelector() + " .chart");
        el2[0].id = el2[0].id + "Big";
        $(el2).css("min-height", "500px");
        $(el2).css("height", "50%");
        $(el2).css("width", "100%");
        debugger;
        if ($(this).hasClass("chartTitleOEE")) {
            var child = $(this).parent().children(".chartOEE");
            console.log("child");
            console.log(child);
            chartOEEData = new JsonHelper().GetPostData("/ONEPROD/OEEDashboard/GetChartOEEDataResults", filters);
            chartOEEData.done(function (data) {
                RefreshOeeChart(data, el2[0].id, parseInt($(child).attr("data-dataset")));
            });

        }
        else {

            $(el2).parent().append("<div id='" + el2[0].id + "Legend' class='chartjsLegend'></div>")
            filters.limit = 1000;
            RefreshOneChartByEntryType(el2[0]);
        }
    });
    //$("#energyDataBox").on("click", function () {
    //    console.log("Mam metlik w mojej malej glowie");
    //    location.href = "http://localhost:49962/ONEPROD/ConfigurationENERGY/EnergyConsumption/" + filters;
    //});



</script>


