@model MDL_ONEPROD.ComponentOEE.Models.OeeDataOfDateRange

@{
    Layout = null;
}
<style>
    .oeeResult {
        height: 100px;
        background-color: rgb(35, 34, 34);
        font-size: 40px;
        color: rgb(224, 233, 11);
        font-weight: bold;
        text-align: center;
        line-height: 100px;
        -webkit-box-shadow: 0px 1px 0px 11px rgba(201,191,201,1);
        -moz-box-shadow: 0px 1px 0px 11px rgba(201,191,201,1);
        box-shadow: 0px 1px 0px 11px rgba(201,191,201,1);
    }

    .row0{
        margin-left: 0;
        margin-right: 0;
    }
    .col0{
        padding-left: 0;
        padding-right: 0;
    }
    .col5-0 {
        padding-left: 5;
        padding-right: 0;
    }
    .rh50{
        height: 55px;
    }
    .rh80 {
        height: 55px;
    }
    .margtop10 {
        margin-top: 4px;
    }
    .brd1 {
        border: 1px solid #dcdcdc;
    }
    .brd1L {
        border-left: 1px solid #dcdcdc;
    }
    .brd1R {
        border-right: 1px solid #dcdcdc;
    }
    .bar {
        height: 100%;
        float: left;
    }
    .grnd {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%,rgba(255, 255, 255, 0.15) 100%);
    }
    .barGreen {
        background-color: rgb(54, 242, 4);
    }
    .barOrderedTime {
        background-color: rgb(0, 243, 255);
    }
    .barAvailability{
        background-color: rgb(247, 247, 247);
    }
    .barPerformance {
        background-color: rgb(226, 39, 20);
    }
    .barQuality {
        background-color: rgb(226, 39, 20);
    }
    .barInfo {
        background-color: rgba(254, 255, 208, 1);
    }
    .barInfoTitle {
        padding: 2px;
        font-size: 9px;
        color: #a00f0f;
    }
    .barInfoData {
        width: 100%;
        padding: 5px;
        font-size: 24px;
        color: #254571;
    }
    

</style>

<div class="row">
    <div class="col-12">
        @*Czas zamówiony*@
        <div class="row row0">
            <div class="col-6 col0">
                <div class="brd1 rh50">
                    <div class="bar barOrderedTime grnd" style="width: 100%;"></div>
                </div>
            </div>
            <div class="col-6 col5-0">
                <div class="brd1 rh50">
                    <div class="bar barInfo brd1R" style="width:30%">
                        <div class="barInfoTitle">Czas zamówiony</div>
                        <div class="barInfoData">@((100).ToString("0.##").Replace(',', '.'))%</div>
                    </div>
                    <div class="bar barInfo brd1R" style="width:45%">
                        @{ int fullHours = (int)(Model.ShiftTimeTotal / 3600);
                            int restMinutes = (int)(Model.ShiftTimeTotal - fullHours * 3600) / 60;
                            int restSeconds = (int)(Model.ShiftTimeTotal - fullHours * 3600 - restMinutes*60);
                        }
                        <div class="barInfoTitle">Łączny czas [h:mm:ss]</div>
                        <div class="barInfoData">@((fullHours).ToString("0")):@((restMinutes).ToString("00")):@((restSeconds).ToString("00"))</div>
                    </div>
                    <div class="bar barInfo" style="width:25%">
                        <div class="barInfoTitle">Ilość zmian</div>
                        <div class="barInfoData">@((Model.ShiftTimeTotal / (60 * 480)).ToString("0.##").Replace(',', '.'))</div>
                    </div>
                </div>
            </div>
        </div>
        @*Czas operacyjny*@
        @{  decimal operationTime = Model.ShiftTimeTotal > 0 ? (100 * Model.OperationalTimeTotal / Model.ShiftTimeTotal) : 0;
            DateTime operationTm = new DateTime().AddSeconds((double)Model.OperationalTimeTotal);
         }

        <div class="row row0 margtop10">
            <div class="col-6 col0">
                <div class="rh80 brd1" style="padding:0px; overflow: hidden;">
                    <div class="bar barGreen grnd" id="availabilityGreenProgressBar" style="width:@operationTime.ToString("0.##").Replace(',', '.')%;"></div>
                    <div class="bar barAvailability grnd" style="width:@((100 - operationTime).ToString("0.##").Replace(',', '.'))%;"></div>
                </div>
            </div>
            <div class="col-6 col5-0">
                <div class="rh80 brd1">
                    <div class="bar barInfo brd1R" style="width:30%">
                        <div class="barInfoTitle">Czas operacyjny</div>
                        <div class="barInfoData">@((operationTime).ToString("0.##").Replace(',', '.'))%</div>
                    </div>
                    <div class="bar barInfo brd1R" style="width:70%">
                        <div class="barInfoTitle">Łączny czas [hh:mm:ss]</div>
                        <div class="barInfoData">@( (int)((operationTm - new DateTime()).TotalHours) + ":" + operationTm.ToString("mm") + ":00" )</div>
                        @*<div class="barInfoData">@(new DateTime().AddSeconds((double)(Model.ShiftTimeTotal - Model.OperationalTimeTotal)).ToString("HH:mm:ss") )</div>*@
                    </div>
                </div>
            </div>
        </div>
        @*Dostępność*@
        <div class="row row0 margtop10">
            <div class="col0" style="width:@((operationTime * (decimal)0.5).ToString("0.##").Replace(',', '.'))%;">
                <div class="rh80 brd1" id="performanceGreenProgressBar">
                    <div class="bar barGreen grnd" id="availabilityGreenProgressBar" style="width:@Model.AvailabilityAverage.ToString("0.##").Replace(',', '.')%;"></div>
                    <div class="bar barPerformance grnd" style="width:@((100 - Model.AvailabilityAverage).ToString("0.##").Replace(',', '.'))%;"></div>
                </div>
            </div>
            <div class="col-6 col5-0">
                <div class="rh80 brd1">
                    <div class="bar barInfo brd1R" style="width:30%">
                        <div class="barInfoTitle">Dostępność</div>
                        <div class="barInfoData">@Model.AvailabilityAverage.ToString("0.##").Replace(',', '.')%</div>
                    </div>
                    <div class="bar barInfo" style="width:70%">
                        @*<p>Jakieś dane</p>
                        <p>Jakieś dane</p>*@
                    </div>
                </div>
            </div>
        </div>
        @*Wykorzystanie*@
        @{ decimal performance = Math.Min(100, Model.PerformanceAverage); }
        <div class="row row0 margtop10">
            <div class="col0" style="width:@((operationTime * (decimal)0.5 * (Model.AvailabilityAverage/100) ).ToString("0.##").Replace(',','.'))%;">
                <div class="brd1 rh80" >
                    <div class="bar barGreen grnd" id="efficiencyGreenProgressBar" style="width:@performance.ToString("0.##").Replace(',','.')%;"></div>
                    <div class="bar barPerformance grnd" style="width:@((100 - performance).ToString("0.##").Replace(',','.'))%;"></div>
                </div>
            </div>
            <div class="col-6 col5-0">
                <div class="rh80 brd1">
                    <div class="bar barInfo brd1R" style="width:30%">
                        <div class="barInfoTitle">Wykorzystanie</div>
                        <div class="barInfoData">@Model.PerformanceAverage.ToString("0.##").Replace(',', '.')%</div>
                    </div>
                    <div class="bar barInfo brd1R" style="width:35%">
                        @*<p>Jakieś dane</p>
                        <p>Jakieś dane</p>*@
                    </div>
                    <div class="bar barInfo" style="width:35%">
                        @*<p>Jakieś dane</p>
                        <p>Jakieś dane</p>*@
                    </div>
                </div>
            </div>
        </div>
        @*Jakość*@
        <div class="row row0 margtop10 ">
            <div class="col0" style="width:@(((operationTime) * (decimal)0.5 * (Model.AvailabilityAverage/100) * (performance/100)).ToString("0.##").Replace(',','.'))%;">
                <div class="rh80 brd1"> @*style="float:left;" id="qualityProgressBar">*@
                    <div class="bar barGreen grnd" style="width:@Model.QualityAverage.ToString("0.##").Replace(',','.')%;"></div>
                    <div class="bar barQuality grnd" style="width:@((100 - Model.QualityAverage).ToString("0.##").Replace(',','.'))%;"></div>
                </div>
            </div>
            <div class="col-6 col5-0">
                <div class="rh80 brd1">
                    <div class="bar barInfo brd1R" style="width:30%">
                        <div class="barInfoTitle">Jakość</div>
                        <div class="barInfoData">@Model.QualityAverage.ToString("0.##").Replace(',', '.')%</div>
                    </div>
                    <div class="bar barInfo" style="width:70%">
                        @*<p>Jakieś dane</p>
                        <p>Jakieś dane</p>*@
                    </div>
                </div>
            </div>
        </div>
        @*Wynik OEE*@
        @*<div class="row margtop10" style="padding:20px;">
            <div class="col-12">
                <div class="col-5 oeeResult">
                    OEE: @Model.ResultAverage
                </div>
            </div>
        </div>*@
    </div>
</div>

<script type="text/javascript">

    //var avGreenProgressBarWidth = $("#availabilityGreenProgressBar").css("width");
    //$("#performanceGreenProgressBar").css("width", avGreenProgressBarWidth);
    //$("#efficiencyProgressBar").css("width", avGreenProgressBarWidth);
    
    //var effGreenProgressBarWidth = $("#efficiencyGreenProgressBar").css("width");
    //$("#qualityProgressBar").css("width", effGreenProgressBarWidth);
</script>