@model _MPPL_WEB_START.Areas.AP.ViewModel.ObservationBrowseViewModel

@using GridMvc.Html

@{
    ViewBag.Title = "Przegladaj obserwacje";
}

@*Filters*@
<div class="row">
    <div class="col-lg-12">
        <div class="formArea shadow">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="formInlineGroup">
                    <div class="formInlineRow">
                        @Html.LabelFor(model => model.Observation.CreatorId, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="formInlineRow">
                        @Html.EditorFor(model => model.Observation.CreatorId, new { htmlAttributes = new { @class = "form-control UserTextBox" } })
                    </div>
                </div>

                <div class="formInlineGroup ">
                    <div class="formInlineRow">
                        @Html.LabelFor(model => Model.AreaId, new { @class = "control-label" })
                    </div>
                    <div class="formInlineRow">
                        @Html.DropDownList("AreaId", Model.Areas, "", new { @class = "form-control" })

                    </div>
                </div>

                <div class="formInlineGroup ">
                    <div class="formInlineRow">
                        @Html.LabelFor(model => Model.WorkstationsId, new { @class = "control-label" })
                    </div>
                    <div class="formInlineRow">
                        @Html.DropDownList("WorkstationsId", Model.Workstations, "", new { @class = "form-control" })
                    </div>
                </div>

                <div class="formInlineGroup ">
                    <div class="formInlineRow">
                        @Html.LabelFor(model => model.ShiftCodeId, new { @class = "control-label" })
                    </div>
                    <div class="formInlineRow">
                        @Html.DropDownList("ShiftCodeId", Model.ShiftCodes, "", new { @class = "form-control" })
                    </div>
                </div>


                <div class="formInlineGroup">
                    <div class="formInlineRow">
                        @Html.LabelFor(model => Model.TicketCreationDate, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="formInlineRow">
                        @Html.EditorFor(model => Model.TicketCreationDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                    </div>
                </div>

                <div class="formInlineGroup">
                    <div class="formInlineRow">
                        @Html.LabelFor(model => Model.Problem, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="formInlineRow">
                        @Html.EditorFor(model => Model.Problem, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="formInlineGroup ">
                    <div class="formInlineRow">
                        @Html.LabelFor(model => Model.TypeId, new { @class = "control-label" })
                    </div>
                    <div class="formInlineRow">
                        @Html.DropDownListFor(model => Model.TypeId, EnumHelper.GetSelectList(typeof(MDL_AP.Models.ActionPlan.ObservationTypeEnum)),"", new { @class = "form-control" })
                    </div>
                </div>
                

                <div class="formInlineGroup">
                    <div class="formInlineRow">
                        <span></span>
                    </div>
                    <div class="formInlineRow">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Odśwież" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }
            <div style="clear: both"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
    @Html.Grid(Model.Observations).Columns(columns =>
    {
        columns.Add(u => u.Creator.FullName).Titled("Zgłaszający").SetWidth(110);
        columns.Add(u => u.Area.Name).Titled("Obszar").SetWidth(110);
        columns.Add(u => u.Workstation.Name).Titled("Stanowisko").SetWidth(110);
        columns.Add(u => u.ShiftCode.Name).Titled("Zmiana").SetWidth(110);
        columns.Add(u => u.Date).Titled("Data").SetWidth(110);
        columns.Add(u => u.Problem).Titled("Problem").SetWidth(110);
        columns.Add(u => u.Type).Titled("Typ").SetWidth(110);
        columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(u => 
                @<b>@Html.ActionLink("Otwórz", "Show", new { id = u.Id })</b>);
    }).WithPaging(20)
    </div>
</div>

