@using MDL_PRD.Model;
@using MDL_CORE.ComponentCore.Entities;
@*@model MDL_PRD.ViewModel.ResonViewModel*@
@model  int[]

@{
    Layout = null;
}

<div id="ReasonComment" class="ReasonComment">
    @using (Html.BeginForm("", "", FormMethod.Post, new { id = "FormAnalyzePSIComment" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="form-horizontal">
            <div class="formInlineGroup">
                <div class="formInlineRow">
                    @Html.Label("Komentarz", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="formInlineRow">
                    @Html.TextBox("CommentText", "", new { @class = "form-control" })
                </div>
            </div>
            <div class="formInlineGroup">
                <div class="formInlineRow">
                    @Html.Label("Dostawca/Obszar", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="formInlineRow">
                    @Html.TextBox("CommentSupplier", "", new { @class = "form-control" })
                </div>
            </div>
            <div class="formInlineGroup">
                <div class="formInlineRow">
                    @Html.Label("Kod ANC", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="formInlineRow">
                    @Html.TextBox("CommentANC", "", new { @class = "form-control" })
                </div>
            </div>
            <div class="formInlineGroup">
                <div class="formInlineRow">
                    <b> </b>
                </div>
                <div class="formInlineRow">
                    <div class="btn btn-default btnClose" onclick="SaveComment(this)">Wybierz powód</div>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    var orders = @Html.Raw(Json.Encode(Model));
    //$("#ReasonComment").on("click", "#FormAnalyzePSICommentSubmit", function () {
    function SaveComment(el) {
        var parent = $(el).parents(".ReasonComment");
        var comment = $(parent).find("#CommentText").val();
        var supplier = $(parent).find("#CommentSupplier").val();
        var anc = $(parent).find("#CommentANC").val();

        orders.forEach(function (orderId1) {
            SaveCommentAjax(orderId1, comment, supplier, anc)
        });
    };
    function SaveCommentAjax(ordId, comment, supplier, anc) {
        console.log("save komment: " + comment + " " + supplier + " " + anc);
        $.ajax({
            async: true, global: false, dataType: "json", type: "POST",
            url: "/PRD/PSI/SaveComment?selectedOrderId=" + ordId + "&comment=" + comment + "&supplier=" + supplier + "&anc=" + anc,
            //data: { selectedReasonId: reasonId, selectedOrderId: ordId },
            success: function (data) {
                $(document).find(".selectedCell").text(data);
                $(document).find(".selectedCell").attr("title", data);
                $(document).find(".selectedCell").removeClass("selectedCell");
            }
        });
    }
</script>

