@model _MPPL_WEB_START.Areas.AP.ViewModel.MeetingViewModel
@{
    ViewBag.Title = "Dodaj Spotkanie";
}
<div class="Window">
   
    <div class="WindowContent" style="background-color: rgb(237,237,237);">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.NewObject.MeetingName, htmlAttributes: new { @class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.NewObject.MeetingName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NewObject.BeginnigDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.NewObject.BeginnigDate, "{0:yyyy-MM-dd}", new { @class = "form-control datepicker" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NewObject.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.NewObject.EndDate, "{0:yyyy-MM-dd}",new { @class = "form-control datepicker" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Zapisz" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        InitDatepickers();
    </script>
}


