@using MDL_PRD.ViewModel;
@using MDLX_BASE;
@model SubAssViewModel

@{
    int colWidthPrecent = 100 / Model.Lines.Count;
}

<style>
    body {
        background-color: black;
        color: white;
    }
    .orderBox {
        margin-bottom: 5px;
        width: 100%;
        min-height: 50px;
        border-bottom: 1px solid #141414;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.25+0,0+100;White+to+Transparent */
        /*background: -moz-linear-gradient(top, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50&0.15+0,0+50 */
        background: -moz-linear-gradient(top, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0) 50%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0.15) 0%,rgba(255,255,255,0) 50%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%,rgba(255,255,255,0) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    }
    .orderBoxSelected {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#61acdd+0,ffffff+50&0.15+0,0+50 */
        background: -moz-linear-gradient(top, rgba(97,172,221,0.4) 0%, rgba(255,255,255,0) 50%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(97,172,221,0.4) 0%,rgba(255,255,255,0) 50%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(97,172,221,0.4) 0%,rgba(255,255,255,0) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2661acdd', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    }
    .DGClock {
        font-family: "DigitalClock";
        font-size: 26px;
    }
    .orderCodes{
        padding: 10px;
    }

</style>


@helper ShowOrder(MDL_PRD.Model.ProductionOrder po)
{
    <div class="row">
        <div class="col-12">
            <div class="orderBox">
                <div class="row">
                    <div class="col-1" style="width: 80px;">
                        @po.StartDate.ToString("dd MMM")
                        <div class="DGClock">@po.StartDate.ToString("HH:mm")</div>
                    </div>
                    <div class="col-1" style="width: 100px;">
                        @po.OrderNumber @po.Pnc.Code
                    </div>
                    <div class="col-1" style="width: 50px;">
                        @po.QtyRemain
                    </div>
                    <div class="col-1" style="width: 50px;">
                        0
                    </div>
                </div>
                <div class="row orderCodes" style="display: none;">
                    <div class="col-9">
                        Kod kosza górnego: xxx xxx xxx
                        <br />
                        Kod kosza dolnego: yyy yyy yyy
                    </div>

                    <div class="col-3">
                        <div class="btn btn-primary glyphicon glyphicon-ok" style="height: 40px;"></div>
                        <div class="btn btn-success glyphicon glyphicon-ok" style="height: 40px;"></div>
                    </div>

                    @*<div class="col-1" style="float: right; width: 50px; background-color: #147a22; font-size: 22px;"></div>*@

                </div>
            </div>
        </div>
    </div>
}

<div class="row">

    @foreach (MDL_BASE.Models.MasterData.Line line in Model.Lines)
    {
        <div class="col-1 lineOrders" style="width: @(colWidthPrecent)%">

            <h3>Linia @line.Name</h3>
            @foreach (MDL_PRD.Model.ProductionOrder po in Model.ProductionOrders)
            {
                if (po.Line.Id == line.Id)
                {
                    <div>@ShowOrder(po)</div>
                }
            }
        </div>
    }
</div>


<script type="text/javascript">

    $(document).on("click", ".orderBox", function () {
        console.log("click order");

        var lineOrders = $(this).closest(".lineOrders")[0];

        console.log(lineOrders);

        $(lineOrders).find(".orderCodes").hide();
        $(lineOrders).find(".orderBox").removeClass("orderBoxSelected");

        $(this).find(".orderCodes").toggle();
        $(this).addClass("orderBoxSelected");

    });

</script>

