@using _MPPL_WEB_START.Areas._APPWEB.Models;
@using _MPPL_WEB_START.Areas._APPWEB.Models.Clients;
@{
    ViewBag.Title = "Konfiguracja Środowiska";
    Layout = null;
    ViewBag.ClientName = (_MPPL_WEB_START.Properties.Settings.Default.Client).Replace("_Staging", "");
    AppClientApbstract appClient = AppClient.GetClient(ViewBag.ClientName);
    MDL_BASE.Models.IMenuItem menuItem;
    int i = 0;
    KeyValuePair<string, object> action = PageContext.Page.Request.RequestContext.RouteData.Values.FirstOrDefault(x => x.Key == "action");
}


<style>
    .confMenu {
        margin: 0px;
    }

    a.confMenu.selected {
        background-color: #77cdf7;
        color: #142c35;
    }
</style>

<div class="row" style="text-align: center;">

    @for (i = 0; i < MenuONEPRODConfig.MenuItem.Children.Length; i++)
    {
        menuItem = MenuONEPRODConfig.MenuItem.Children[i];

        <div class="col-12">
            <div class="confMenuContainer">
                @for (int j = 0; j < 8 && i + j < MenuONEPRODConfig.MenuItem.Children.Length; j++)
                {
                    menuItem = MenuONEPRODConfig.MenuItem.Children[i + j];

                    if ((menuItem.Name != "Home" && menuItem.Name != "Użytkownicy") && AppMenu.CheckAccess(menuItem, appClient, User))
                    {
                        <a href="@Url.Action(menuItem.HrefAction, menuItem.HrefController, new { area = menuItem.HrefArea })" class="confMenu" data-action="@menuItem.HrefAction">
                            <div class="confMenuIcon @menuItem.Class1"></div>
                            <div class="confMenuText">@menuItem.Name <br /> @menuItem.NameEnglish</div>
                        </a>
                    }
                }
                @{ i = i + 8; }
            </div>
        </div>
    }
</div>

<hr />

<script type="text/javascript">
    $(document).ready(function () {
        SelectActiveMenuLink(@Html.Raw(Json.Encode(Convert.ToString(action.Value))));
    });

    var BaseUrl = "/ONEPROD/"

</script>