@using MDL_ONEPROD.Model.Scheduling
@using GridMvc.Html

@model _MPPL_WEB_START.Areas.ONEPROD.Base.ViewModels.ItemGroupViewModel

@{
    ViewBag.Title = "Part Category";
    Layout = null;
}

<div class="row">
    <div class="col-lg-12">
        <div class="">
            @using (Html.BeginForm("ItemGroupAdd", "Configuration", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id="formItemGroupAdd" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="formInlineGroup">
                    <div class="formInlineRow">
                        @Html.LabelFor(m => m.NewObject.Name, new { @class = "control-label" })
                    </div>
                    <div class="formInlineRow">
                        @Html.TextBoxFor(m => m.NewObject.Name, new { @class = "form-control" })
                    </div>
                </div>

                <div class="formInlineGroup">
                    <div class="formInlineRow">
                        @Html.LabelFor(m => m.NewObject.MinBatch, new { @class = "control-label" })
                    </div>
                    <div class="formInlineRow">
                        @Html.TextBoxFor(m => m.NewObject.MinBatch, new { @class = "form-control", })
                    </div>
                </div>

                <div class="formInlineGroup">
                    <div class="formInlineRow">
                        @Html.LabelFor(m => m.SelectedProcessId, new { @class = "control-label" })
                    </div>
                    <div class="formInlineRow">
                        @Html.DropDownListFor(m => m.SelectedProcessId, Model.ProcesssSelectList, new { @class = "form-control", })
                    </div>
                </div>

                <div class="formInlineGroup">
                    <div class="formInlineRow">
                        @Html.LabelFor(m => m.SelectedAreaId, new { @class = "control-label" })
                    </div>
                    <div class="formInlineRow" style="width: 100px">
                        @Html.DropDownListFor(m => m.SelectedAreaId, Model.AreasSelectList, new { @class = "form-control", })
                    </div>
                </div>

                <div class="formInlineGroup">
                    <div class="formInlineRow">
                    </div>
                    <div class="formInlineRow">
                        @*<input type="submit" class="btn btn-default" value="Dodaj" />*@
                        <div class="btn btn-success" id="submitItemGroupAdd">Dodaj</div>
                    </div>
                </div>
            }
            <div class="clearBothDiv"></div>
        </div>
    </div>
</div>