@using MDL_ONEPROD.Model.Scheduling
@using GridMvc.Html

@model _MPPL_WEB_START.Areas.ONEPROD.APS.ViewModels.CalendarHourViewModel

@{
    Layout = null;
    ViewBag.Title = "Calendar Hour";
    DateTime date1 = Model.SelectedDate.Date.AddHours(-2);
}

<h3>@Model.SelectedDate.ToShortDateString()</h3>


@for(int i=0; i<4; i++)
{
    <div class="row">
        <div class="col-md-2">
            <div class="calendarBox calendarBoxSelectable calendarShift" style="width: 60px;" data-id="@date1">Sh @i</div>
        </div>
        <div class="col-md-10 calendarHourCol">
            @for (int j = 0; j < 8; j++)
            {
                if (Model.Calendar.FirstOrDefault(c => c.DateClose == date1) != null)
                {
                    <div class="calendarBox @(date1.Date == Model.SelectedDate.Date ? "calendarBoxSelectable calendarHourClosed" : "ncalendarHourClosed")" data-id="@date1">@date1.Hour</div>
                }
                else
                {
                    <div class="calendarBox @(date1.Date == Model.SelectedDate.Date ? "calendarBoxSelectable calendarHour" : "ncalendarHour")" data-id="@date1">@date1.Hour</div>
                }
                { date1 = date1.AddHours(1); }
            }
        </div>
    </div>    
}

