@using MDL_ONEPROD.Model.Scheduling;
@using MDLX_MASTERDATA.Entities;
@using GridMvc.Html

@model _MPPL_WEB_START.Areas.ONEPROD.APS.ViewModels.PlanViewModel
@{
    ViewBag.Title = "Plan";
}

<div class="row no-print">
    <div class="col-12">
        @using (Html.BeginForm("Plan", "APS", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="formInlineGroup">
                <div class="formInlineRow">
                    @Html.Label("Maszyna", new { @class = "control-label" })
                    @Html.HiddenFor(m => m.DateFrom)
                    @Html.HiddenFor(m => m.DateTo)
                </div>
                <div class="formInlineRow">
                    @Html.DropDownListFor(m => m.SelectedMachineId, Model.Machines, "", new { @class = "form-control" })
                </div>
            </div>
            <div class="formInlineGroup">
                <div class="formInlineRow">
                </div>
                <div class="formInlineRow">
                    <input type="submit" class="btn btn-default" value="Odśwież" />
                </div>
            </div>
        }

        @*@Html.ActionLink("Potwierdzanie zadań w Planie", "PlanMonitor")*@
    </div>
    <div class="col-12">
        <hr />
    </div>

</div>

@{
    DateTime LastDate = DateTime.Now.Date.AddYears(-1);
    string lastAnc = "";
    int TotalTasks = (Model.Tasks != null) ? Model.Tasks.Count : 0;
    int PauseMinutes = 0;
    int sum = 0;
    Workorder t;
}

<style>
    #wrapper {
        bottom: unset !important;
        overflow-y: auto !important;
        overflow-x: auto !important;
        background: 0 !important;
    }

    #page-content-wrapper {
        overflow-y: unset !important;
    }

    .planCell {
        float: left;
        margin-left: 2px;
        border-bottom: 1px solid lightgrey;
        padding: 2px;
    }

    .planHeader {
        height: 30px;
        font-weight: bold;
        line-height: 30px;
    }

    .colTime {
        width: 80px;
    }

    .colLine {
        width: 30px;
    }

    .colOrder {
        width: 110px;
    }

    .colQty {
        width: 70px;
    }

    .colANC {
        width: 120px;
    }

    .colName {
        width: 280px;
    }

    .colProd {
        width: 80px;
    }

    .colPause {
        width: 80px;
    }
</style>



<div class="row" style="width: 900px; color: black;">
    <div class="col-12">

        @if (Model.SelectedMachine != null)
        {
            if (TotalTasks > 0)
            {
                lastAnc = (Model.Tasks[0].Item != null) ? Model.Tasks[0].Item.Code : string.Empty;
            }

            <div style="background-color: white; font-size: 16px;">
                <div class="row">
                    <div class="col-12">
                        <div style="font-weight: bold; text-align: center; padding: 10px; background-color: rgb(141, 196, 233);">
                            Plan Preprodukcji dla linii: @Model.SelectedMachine.Name
                        </div>
                    </div>
                </div>

                @*Headers*@
                <div class="row">
                    <div class="col-12">
                        <div class="planCell planHeader colTime">Czas</div>
                        <div class="planCell planHeader colLine">L</div>
                        <div class="planCell planHeader colOrder">Zlecenie</div>
                        <div class="planCell planHeader colQty">Sztuk</div>
                        <div class="planCell planHeader colANC">ANC</div>
                        <div class="planCell planHeader colName">Nazwa</div>
                        <div class="planCell planHeader colProd">prod.</div>
                        <div class="planCell planHeader colPause">pauza</div>
                    </div>
                </div>

                @*Data Rows*@
                @for (int i = 0; i < TotalTasks - 1; i++)
                {
                    {
                        t = Model.Tasks[i];
                    }

                    //Row with sum
                    if ((t.Item == null) || (lastAnc != t.Item.Code) || (LastDate != t.StartTime.Date))
                    {
                        if (sum > 0)
                        {
                            <div class="row">
                                <div class="col-12">
                                    <div class="planCell colTime">-</div>
                                    <div class="planCell colLine">-</div>
                                    <div class="planCell colOrder">-</div>
                                    <div class="planCell colQty" style="font-weight:bold;">@sum</div>
                                    <div class="planCell colANC">-</div>
                                    <div class="planCell colName">-</div>
                                    <div class="planCell colProd">-</div>
                                    <div class="planCell colPause">-</div>
                                </div>
                            </div>
                        }

                        sum = 0;
                    }

                    //row with date
                    if (LastDate != t.StartTime.Date)
                    {
                        <div class="row">
                            <div class="col-12">
                                <div style="margin-bottom: 3px; margin-top: 7px; font-weight: bold;">@t.StartTime.Date.ToShortDateString()</div>
                            </div>
                        </div>
                    }

                    { LastDate = t.StartTime.Date; }

                    if (i < TotalTasks - 2)
                    {
                        PauseMinutes = Convert.ToInt32((Model.Tasks[i + 1].StartTime - t.EndTime).TotalMinutes);
                    }
                    else
                    {
                        PauseMinutes = 0;
                    }

                    //row with task data
                    if (t.ClientOrder != null && t.Item != null)
                    {
                        <div class="row">
                            <div class="col-12">
                                <div class="planCell colTime">@t.StartTime.ToShortTimeString()</div>
                                <div class="planCell colLine">@t.ClientOrder.Resource</div>
                                <div class="planCell colOrder">@t.ClientOrder.OrderNo</div>
                                <div class="planCell colQty">@t.Qty_Remain</div>
                                <div class="planCell colANC">@t.Item.Code</div>
                                <div class="planCell colName" style="max-height: 29px; overflow: hidden; text-wrap: none; line-height: 25px;">@t.Item.Name</div>
                                <div class="planCell colProd">@Convert.ToInt32((t.EndTime - t.StartTime).TotalMinutes) min</div>
                                <div class="planCell colPause">@PauseMinutes min</div>
                            </div>
                        </div>

                        sum += t.Qty_Remain;
                        lastAnc = t.Item.Code;
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-12">
                                <div class="planCell colTime">@t.StartTime.ToShortTimeString()</div>
                                <div class="planCell colLine">-</div>
                                <div class="planCell colOrder">SETUP</div>
                                <div class="planCell colQty">-</div>
                                <div class="planCell colANC">-</div>
                                <div class="planCell colName">-</div>
                                <div class="planCell colProd">@Convert.ToInt32((t.EndTime - t.StartTime).TotalMinutes) min</div>
                                <div class="planCell colPause">@PauseMinutes min</div>
                            </div>
                        </div>

                        sum = 0;
                        lastAnc = "";
                    }
                }
            </div>
        }

    </div>
</div>

@section Scripts{

}