@using _MPPL_WEB_START.Areas._APPWEB.Models;
@using _MPPL_WEB_START.Areas._APPWEB.Models.Clients;
@{
    Layout = null;
    //ViewBag.Title = "iLOGIS Konfiguracja";
    //string clientName = _MPPL_WEB_START.Properties.Settings.Default.Client;
    ViewBag.ClientName = (_MPPL_WEB_START.Properties.Settings.Default.Client).Replace("_Staging", "");
    AppClientApbstract appClient = AppClient.GetClient(ViewBag.ClientName);
    MDL_BASE.Models.IMenuItem menuItem;
    int i = 0;
}


<style>
    .confMenu {
        margin: 0px;
        width: 10% !important;
    }
    a.confMenu.selected {
        background-color: #77cdf7;
        color: #142c35;
    }
</style>

<div id="configMenu">
    <div class="row" style="text-align: center;">
        @*@for (i = 0; i < MenuiLOGISConfig.MenuItem.Children.Length; i++)
        {

            menuItem = MenuiLOGISConfig.MenuItem.Children[i];*@

            <div class="col-12">
                <div class="confMenuContainer">
                    @for (int j = 0; i + j < MenuiLOGISConfig.MenuItem.Children.Length; j++)
                    {
                        menuItem = MenuiLOGISConfig.MenuItem.Children[i + j];

                        if ((menuItem.Name != "Home" && menuItem.Name != "Użytkownicy") && AppMenu.CheckAccess(menuItem, appClient, User))
                        {
                            <a href="@Url.Action(menuItem.HrefAction, menuItem.HrefController, new { area = menuItem.HrefArea })" 
                               class="confMenu" 
                               id="@menuItem.ElementId"
                               data-action="@menuItem.HrefAction">
                                <div class="confMenuIcon @menuItem.Class1"></div>
                                <div class="confMenuText">@menuItem.Name <br /> @menuItem.NameEnglish</div>
                            </a>
                        }
                    }
                    @{
                        i = i + 10;
                    }
                </div>
            </div>
        @*}*@
    </div>
</div>


<script type="text/javascript">
    var BaseUrl = "/iLOGIS/";

    $(document).on("click", "#btnMenuCopyItemSettings", function () {
        console.log("klikuj");
        let itemWMSCopyS = new ItemWMSCopySettings();
        itemWMSCopyS.OpenViewInWindow();
    });

</script>