@model MDL_iLOGIS.ComponentWMS.ViewModels.DeliveryViewModel

@{
    ViewBag.Title = "Lokalizowanie Dostawy";
}
<style>
    .table {
        background-color: #ffffff;
    }

    input.toBePrinted {
        height: 36px !important;
        width: 36px !important;
    }

    table.fas {
        font-size: 22px;
    }

    .btn.fas {
        font-size: 14px;
    }

    .table td, .grid-cell {
        padding: 2px;
    }

    .table th {
        padding: 8px;
    }

    .table-hover > tbody > tr:hover > td {
        background-color: #deeaf3;
        color: #4583b5;
    }

    .table-info {
        font-weight: bold;
    }

    .table-danger, .table-danger > td, .table-danger > th {
        background-color: #db899100;
        /*background-color: #db899129;*/
        /*border-left: 5px solid #882630;*/
    }

    .table-success, .table-success > td, .table-success > th {
        background-color: #217e3700;
        /*background-color: #217e3755;*/
        /*border-left: 5px solid #217e37;*/
    }

    .summary-danger, .summary-danger > td, .summary-danger > th {
        border-bottom: 3px solid #882630;
        color: #d58089;
        font-weight: bold;
    }

    .summary-success, .summary-success > td, .summary-success > th {
        border-bottom: 3px solid #217e37;
        color: #2ec367;
        font-weight: bold;
    }

    .jsgrid-row:hover {
        background-color: #ffffff0a;
    }

    .card {
        border: 0;
        background-color: transparent;
    }

    .card-header {
        border: 0;
    }

    .card-body {
        border: 0;
        padding: 0;
    }

    .card-title {
        margin-bottom: 0.01rem;
        border: 0;
    }
    .jsgrid-cell {
        padding: 0; 
    }
    /*.table-hover .table-info:hover>td {
        background-color: black !important;
        color: red;
    }*/
</style>

<div class="row no-gutters">
    <div class="col-12">
        <div class="card mb-2" style="padding: 0px; ">
            <div class="card-header header-elements-inline" style="background-color: #203b41;">
                <div class="card-title">
                    <div runat="server" id="deliveryTitle">Podsumowanie Dokumentu Dostawy</div>
                </div>
            </div>
            <div class="card-body" style="background-color: #0c222a;">
                <fieldset>
                    <div class="form-row">
                        <div class="form-group col-3">
                            <label class="col-12 col-form-label label textGrayout">Dostawca:</label>
                            <div class="col-12 textBold">@Model.SupplierName</div>
                        </div>
                        <div class="form-group col-3">
                            <label class="col-12 col-form-label label textGrayout">Numer Dokumentu Dostawy:</label>
                            <div class="col-12 textBold">@Model.DocumentNumber</div>
                        </div>
                        <div class="form-group col-3">
                            <label class="col-12 col-form-label label textGrayout">Data dokumentu:</label>
                            <div class="col-12 textBold">@Model.DocumentDate.ToString("yyyy-MM-dd")</div>
                        </div>
                        <div class="form-group col-3">
                            <label class="col-12 col-form-label label textGrayout">Data wprowadzenia dostawy:</label>
                            <div class="col-12 textBold">@Model.StampTime.ToString("yyyy-MM-dd")</div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<div class="row no-gutters">
    <div class="col-12 mb-2 mt-2 text-right" style="max-width:1490px;">
        <div class="btn btn-primary" id="btnUnselectAll">Odznacz wysztko<span class="pl-2"></span><i class="far fa-square"></i></div>
        <div class="btn btn-primary" id="btnSelectAll">Zaznacz wysztko<span class="pl-2"></span><i class="far fa-check-square"></i></div>
        <div class="btn btn-primary" id="btnPrintSelected">Drukuj Zaznaczone<span class="pl-2"></span><i class="fas fa-print"></i></div>
    </div>
</div>

<div class="row no-gutters">
    <div class="col-12 pt-2" id="contentView"></div>
</div>


<script src="~/Areas/iLOGIS/Views/Delivery/DeliveryAdministratorInspection.js"></script>
<script id="deliveryAdministrationInspectionTemplate" type="x-tmpl-mustache">
    <table class="jsgrid-table" style="max-width: 1250px;">
        <thead>
            <tr class="jsgrid-header-row">
                <th class="jsgrid-header-cell" scope="col" width="150">Kod Artykułu</th>
                <th class="jsgrid-header-cell" scope="col" width="400">Nazwa Artykułu</th>
                <th class="jsgrid-header-cell" scope="col" width="150">Ilość Dok.</th>
                <th class="jsgrid-header-cell" scope="col" width="150">Pozostało</th>
                <th class="jsgrid-header-cell" scope="col" width="140">Ilość Opak.</th>
                <th class="jsgrid-header-cell" scope="col" width="140">Ilość w Opak.</th>
                <th class="jsgrid-header-cell" scope="col" width="150">Ilość Insp.</th>
                <th class="jsgrid-header-cell" scope="col" width="120">Drukowano?</th>
                <th class="jsgrid-header-cell" scope="col" width="90">Drukuj</th>
            </tr>
        </thead>
        <tbody>
            {{#DeliveryItemList}}
            <tr class="jsgrid-row
                    {{#IsQtyEqual}}table-success{{/IsQtyEqual}}{{^IsQtyEqual}}table-danger{{/IsQtyEqual}}
                    {{#IsSummaryRow}}{{#IsQtyEqual}}summary-success{{/IsQtyEqual}}{{^IsQtyEqual}}summary-danger{{/IsQtyEqual}}{{/IsSummaryRow}}">
                <td class="jsgrid-cell" scope="row">{{#ItemCodeVisible}}{{ItemCode}}{{/ItemCodeVisible}}</td>
                <td class="jsgrid-cell" scope="row">{{#ItemCodeVisible}}{{ItemName}}{{/ItemCodeVisible}}</td>
                <td class="jsgrid-cell" scope="row">{{TotalQty |DontDrawZero}}</td>
                <td class="jsgrid-cell" scope="row">{{RemainingQty |DontDrawZero}}</td>
                {{#IsSummaryRow}}
                <td class="jsgrid-cell" scope="row"></td>
                <td class="jsgrid-cell" scope="row"></td>
                {{/IsSummaryRow}}
                {{^IsSummaryRow}}
                <td class="jsgrid-cell" scope="row"><input type="text" data-id="{{Id}}" class="form-control numberOfPackages" value="{{NumberOfPackages |DontDrawZero}}" disabled /></td>
                <td class="jsgrid-cell" scope="row"><input type="text" data-id="{{Id}}" class="form-control qtyInPackage" value="{{QtyInPackage |DontDrawZero}}" disabled /></td>
                {{/IsSummaryRow}}
                <td class="jsgrid-cell" scope="row">{{TotalQtyInspection |DontDrawZero}}</td>
                {{#AdminEntry}}
                <td class="jsgrid-cell" scope="row"></td>
                <td class="jsgrid-cell" scope="row"></td>
                {{/AdminEntry}}
                {{^AdminEntry}}
                <td class="jsgrid-cell" scope="row">{{WasPrinted |TrueFalseTranslation}}</td>
                <td class="jsgrid-cell" scope="row">{{^IsSummaryRow}}<input type="checkbox" data-id="{{Id}}" class="form-control toBePrinted" value="true" />{{/IsSummaryRow}}</td>
                {{/AdminEntry}}
            </tr>
            {{/DeliveryItemList}}
        </tbody>
    </table>
</script>


<script type="text/javascript">
    var vm = @Html.Raw(Json.Encode(Model));
    var deliveryAdministrationInspection = new DeliveryAdministratorInspection();
    $(document).ready(function () {
        deliveryAdministrationInspection.Init(vm.Id);
    });
</script>
