@using MDL_ONEPROD.Model.Scheduling;
@*@using MDLX_MASTERDATA.Entities;*@
@using GridMvc.Html

@model _MPPL_WEB_START.Areas.ONEPROD.APS.ViewModels.StockViewModel

@{
    ViewBag.Title = "Stock";
}

@*formularz*@
<div class="row">
    <div class="col-md-12">
        <div class="formArea shadow">
            <div class="hidden">
                @using (Html.BeginForm("LoadStock", "WMS", FormMethod.Post, new { @id = "form1", @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })


                    <div class="formInlineGroup">
                        <div class="formInlineRow">
                            @Html.LabelFor(m => m.SelectedDate, new { @class = "control-label" })
                        </div>
                        <div class="formInlineRow">
                            @Html.TextBoxFor(m => m.SelectedDate, "{0:yyyy-MM-dd HH:mm}", new { @class = "form-control datetimepicker", @value = Model.SelectedDate })
                        </div>
                    </div>

                    <div class="formInlineGroup">
                        <div class="formInlineRow">
                            Stock:
                        </div>
                        <div class="formInlineRow">
                            <input type="submit" class="btn btn-default" value="Załaduj Raport" />
                        </div>
                    </div>
                }
            </div>

            @using (Html.BeginForm("CreateStock", "WMS", FormMethod.Post, new { @id = "form2", @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="formInlineGroup">
                    <div class="formInlineRow">
                        Stock:
                    </div>
                    <div class="formInlineRow">
                        <input type="submit" class="btn btn-default" value="Utwórz Raport" />
                    </div>
                </div>
            }

            @*@Html.ActionLink("Wyliczony stock", "StockMonitor")*@

            @if (Model.Stock != null && Model.Stock.Count > 0)
            {
                <div class="formInlineGroup" style="margin-left: 100px;">
                    <div class="formInlineRow">
                    </div>
                    <div class="formInlineRow">
                        <div id="btnConsiderScrap" stockDate="@Model.SelectedDate.ToString("yyyy-MM-dd HH:mm:ss")" class="btn btn-danger">Pomniejsz Stock o Scrap</div>
                    </div>
                </div>
            }
            <div class="clearBothDiv"></div>
        </div>
    </div>
</div>

@*raporty-daty oraz dane raportu*@
<div class="row">
    @*raporty-daty*@
    <div class="col-md-2" style="padding-top: 5px;">
        <div class="bgGray1" style="padding: 8px; margin-bottom: 10px; max-height: 400px; max-width: 250px; overflow-y: scroll;">
            @foreach (DateTime stockDate in Model.StockDates)
            {
                <div class="stockDateBox hoverable">
                    <span class="stockDate">@stockDate.ToString("yyyy-MM-dd HH:mm")</span>
                    <span><span class="fa fa-trash-o deleteStock" data-toggle="tooltip" title="usuń raport"></span></span>
                </div>
            }
            <div class="clearBothDiv"></div>
        </div>
        
    </div>
    @*dane raportu*@
<div class="col-md-10">
    @{
        List<ResourceOP> Areas;
        if (Model.Stock != null)
        {
            Areas = Model.Stock.Select(x =>
                x.Item.ItemGroupId != null ? x.Item.ItemGroupOP.ResourceGroupOP : null)
              .Distinct().ToList();
        }
        else
        {
            Areas = new List<ResourceOP>();
        }
    }

    @foreach (ResourceOP area in Areas)
    {
        int? areaId = area != null ? (int?)area.Id : null;
        string areaName = area != null ? area.Name : "";

        <h2>Area: @areaName</h2>
        if (Model.Stock != null)
        {
            @Html.Grid(Model.Stock.Where(x => x.Item.ItemGroup.ResourceGroupId == areaId)).Columns(columns =>
            {
                columns.Add(dd => dd.Id).SetWidth(40);
                columns.Add().Titled("ANC").SetWidth(120).Encoded(false).Sanitized(false).RenderValueAs(
                    dd => @<div style="padding: 3px; text-align: center; background-color: @dd.Item.ItemGroup.Color; color: rgba(0, 0, 0, 1);">@dd.Item.Code</div>);
                columns.Add(dd => dd.Item.ItemGroup.Name).Titled("Kategoria").SetWidth(250);
                columns.Add(dd => dd.Item.ItemGroup.Process.Name).Titled("Grupa").SetWidth(200);
                columns.Add(dd => dd.StockCalculated).Titled("Stock Sys.").SetWidth(100);
                columns.Add().Titled("Stock Fiz.").Encoded(false).Sanitized(false).SetWidth(100).Css("jsgrid-cell-withinput").RenderValueAs(
                dd => @<input type="text" id="id-@dd.Id" class="tbStock form-control" value="@dd.Stock" />);
                columns.Add().Titled("Scrap").Encoded(false).Sanitized(false).SetWidth(100).Css("jsgrid-cell-withinput").RenderValueAs(
                dd => @<input type="text" id="scrapId-@dd.Id" class="tbScrapQty form-control" value="@dd.ScrapQty" />);
                columns.Add().Titled("Status").Encoded(false).Sanitized(false).SetWidth(100).RenderValueAs(
                dd => @<div id="status_@dd.Id" class="lbStatus" />);
                //columns.Add(dd => dd.ReportDate).Titled("Data").SetWidth(250);
                columns.Add(dd => dd.TimeStamp).Titled("Wprowadzono").SetWidth(250);
                columns.Add().Encoded(false).Sanitized(false).RenderValueAs(@<div></div>);
                }).WithPaging(100)

            <div areaId="@areaId" stockDate="@Model.SelectedDate.ToString("yyyy-MM-dd HH:mm:ss")" class="btnConsiderStock btn btn-primary">Zastosuj Inwentaryzacje [@areaName]</div>
        }
    }
</div>
</div>

<div style="display:none">
    <div id="dialog-confirm" title="Usunąć raport stoku?">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Usuniesz cały raport<span id="removeReportDate"></span>. Czy chcesz to zrobić?</p>
    </div>
    <div id="dialog-confirm2" title="Czy na pewno?">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Wprowadzony scrap pomniejszy stock<span id="removeReportDate"></span>. Kontynuować?</p>
    </div>
    <div id="dialog-confirm3" title="Czy na pewno?">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Inwentaryzacja wpłynie na potwierdzone wcześniej zlecenia (pozycje z iloscią 0 nie podlegają inwentaryzacji).<span id="removeReportDate"></span>. Kontynuować?</p>
    </div>
</div>
@section Scripts{

    <style>
        .stockDateBox{
            max-width: 210px;
            margin-top: 2px;
            padding: 5px;
        }
        .stockDate {
            margin-right: 20px;
        }
         .stockDateBox .glyphicon:hover {
             background-color: red;
        }
        .deleteStock {
            font-size: 18px;
        }
        .deleteStock:hover {
            font-size: 22px;
        }
    </style>

    <script type="text/javascript">

        var value = 0;
        var id;
        var elStatus;
        var BaseUrl = "/ONEPROD/";

        //InitDateTimePickers();

        $(document).on("keydown", ".tbStock", function (e) {
            
            if (e.which == 13) {
                //Save(id, $(this).val());
            }
            else if(e.which == 38)
            {
                $(this).parents('tr:first').prev().find(".tbStock").focus();
            }
            else if (e.which == 40)
            {
                $(this).parents('tr:first').next().find(".tbStock").focus();
            }
            else
            {
                elStatus.text('edycja stocku');
            }
        });
        $(document).on("keydown", ".tbScrapQty", function (e) {

            if (e.which == 13) {
                //Save(id, $(this).val());
            }
            else if (e.which == 38) {
                $(this).parents('tr:first').prev().find(".tbScrapQty").focus();
            }
            else if (e.which == 40) {
                $(this).parents('tr:first').next().find(".tbScrapQty").focus();
            }
            else {
                elStatus.text('edycja scrapu');
            }
        });
        $(".stockDate").click(function () {
            console.log($(this).text());
            $('#SelectedDate').val($(this).text());
            $('#form1').submit();
        });
        $(".deleteStock").click(function () {
            var el = $(this).parent();
            var date = $(el).prev().text()
            $("#removeReportDate").text(date);

            $("#dialog-confirm").dialog({
                resizable: false, height: "auto", width: 400, modal: true,
                buttons: {
                    "Tak, usuń": function () {
                        $.ajax({
                            url: BaseUrl + "WMS/StockDelete",
                            data: '{ date: "' + date + '"}',
                            type: 'POST',
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                                $(el).parent().hide();
                            }
                        });
                        $(this).dialog("close");
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
        $("#btnConsiderScrap").click(function () {
            var el = $(this).parent();
            var date = $(this).attr("stockDate");

            $("#dialog-confirm2").dialog({
                resizable: false, height: "auto", width: 400, modal: true,
                buttons: {
                    "Tak": function () {
                        $.ajax({
                            url: BaseUrl + "WMS/ConsiderScrap",
                            data: '{ SelectedDate: "' + date + '"}',
                            type: 'POST',
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                                console.log("scrap applied");
                            }
                        });
                        $(this).dialog("close");
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
        $(".btnConsiderStock").click(function () {
            var el = $(this).parent();
            var date = $(this).attr("stockDate");
            var areaId = $(this).attr("areaId");

            $("#dialog-confirm3").dialog({
                resizable: false, height: "auto", width: 400, modal: true,
                buttons: {
                    "Tak": function () {
                        $.ajax({
                            url: BaseUrl + "WMS/ConsiderStock",
                            data: '{ SelectedDate: "' + date + '", AreaId: ' + areaId + '}',
                            type: 'POST',
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                                console.log("stock applied");
                            }
                        });
                        $(this).dialog("close");
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
        
        $(".tbStock, .tbScrapQty").focus(function () {
            id = $(this).attr("id").split("-")[1];
            elStatus = $(this).parents('tr:first').find('#status_' + id);
            value = $(this).val();
            //$(this).select();
            var id1 = "#" + $(this).attr("id");
            console.log(id1);
            //$(this).setSelectionRange(0, value.length)
            
            console.log(value);
            
            setTimeout(function () { $(id1).select(); }, 75);
        });
        $(".tbStock, .tbScrapQty").focusout(function () {
            if (value == $(this).val())
            {
                elStatus.text('koniec')
            }
            else
            {
                var qty = $(this).val();
                if ($(this).hasClass("tbStock"))
                    Save(id, qty, "StockUpdate");
                else if ($(this).hasClass("tbScrapQty"))
                    Save(id, qty, "ScrapkUpdate");
            }
        });

        function Save(id, qty, actionName)
        {
            var elStatus2 = elStatus;
            elStatus2.text('zapis...')

            $.ajax({
                url: BaseUrl + "WMS/" + actionName, 
                data: '{ StockId: ' + id + ', StockQty:' + qty + '}',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data < 1) { elStatus2.text('błąd zapisu!') }
                    else { elStatus2.text('zapisano') }

                }
            });
        }

    </script>
}
